
   /* DivTable.com */
.divTable{
	display: table;
	overflow: auto;
	table-layout: fixed
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
	height: 30px;
	overflow:auto;
}

.scrollable-area {
	margin: auto;
	  width: 100%;
	  z-index: 999;
	  height: 380px;
	  border: 1px solid #ccc;
	  overflow-y: auto; /* <-- here is what is important*/
  }

  .table-wrapper
{
	border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;
	width: 100%;
	max-height: 350px;
	overflow: auto;
}
.table-header
{
	border-top: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;
}
div.verticalScroll {
    width: 100%;
	height: 380px;
	z-index: 999;
    overflow: auto;
}
.table {
    display: table;
    table-layout: fixed;
	width: 100%;
    overflow: auto;
}
.th
{
	border: 1px solid black;
	display: table-header-group;
	height: 30px;
	background-color: #fff;
	text-align: center;
}
.td
{
	border: 1px solid black;
	display: table-cell;
	height: 30px;
	text-align: center;
    background-color: #fff;
}
.tr {
    width: 100%;
    display: table-row-group;
    background: #e3e3e3;
    text-align: center;
}
.tr:nth-child(2n+2)
{
    background: #d1d1d1;
}

/* tbody {
    display: table-row-group;
    vertical-align: middle;
	border-color: inherit;
	border-radius: 5px 5px 0 0;
} */

table
{
	table-layout:auto;
	border-spacing:0;
	border-collapse: collapse;
    width: 100%;
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
table .absorbing-column {
    width: 100%;
}
.tbody
{
	width: 100%;
	height: 380px;
	overflow: auto;
}
.customd3 
{
	font: normal 12px Arial, sans-serif;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 2.5px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border-radius: 5px;
	transition: fill-opacity 250ms linear;
}

.customd3 rect:hover {
	fill-opacity: 0.5;
  }

td
{
	border: 1px;
	height: 30px;
	margin: 5px;
    vertical-align: middle;
}

div.outer { overflow-x: auto; }
div.outer .inner { width: 100%; }
.even {
    background-color: white;
  }
  
  .odd {
    background-color: lightcyan;
  }

  .radioButtonMaterial body {
	padding: 10px; }
  
  .radioButtonMaterial hr {
	margin-left: -20px;
	opacity: 0.3; }
  
  .radioButtonMaterial md-radio-group {
	width: 150px; }
  
  .radioButtonMaterial p:last-child {
	padding-bottom: 30px; }
  
  .radioButtonMaterial [ng-controller] {
	padding: 0 20px; }
  
  .radioButtonMaterial .radioValue {
	margin-left: 5px;
	color: #0f9d58;
	font-weight: bold;
	padding: 5px; }
  
  .radioButtonMaterial md-icon {
	margin: 0 20px 20px;
	width: 128px;
	height: 128px; }
  
  .radioButtonMaterial .ipsum {
	color: saddlebrown;
	font-size: 0.9em; }

	.tableheader {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 1.3rem;
		border-radius: 5px;
		text-transform: capitalize;
		position: relative;
		padding: 10px 25px 10px 25px;
	}

	/* .nvd3 .nv-axis .tick.zero text {
		transform: rotate(-35deg);
  } */
  
  