
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer" style="padding:15px">
    <div class="maincontent">
        <div class="container-fluid">
            <div class="content-shadow">    
               <div class="ot-userAdministration" >
            <div class="orchestra_devices_table" style="max-width:100%;">

                <div class="tab-content">
                    <div id="devices" class="tab-pane fade in active">
                        <div class="orchestra_devices_table" style="max-width:90%;">
                            <div ncy-breadcrumb></div>
                            <!--<h1 class="lead"><strong>Test Run for Test Plans </strong></h1>-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-width:100%">
                                    <!--<div ui-grid="gridOptions2" class="grid"></div>-->

                                    <div id="thirdGrid" ui-grid="ScheduleVirtualDevices" ui-grid-selection ui-grid-cellNav class="grid" style="max-width:100%"></div>
                                    <div id="secondGrid" ui-grid="ScheduleRealDevices" ui-grid-selection ui-grid-cellNav class="grid"></div>
                                    <div style="width:100%;height:50px;margin:0px 40%;margin-top: 30px; ">
                                        <!--                                            <input type="button" name="button" value="Next" class="btn btn-info" ng-click="next_testrundevice()"/>            -->
                                        <a  class="btn btn-info" ng-click="Schedule()">Next</a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
    <div ng-include="'app/views/favourites.html'"></div>
        </div>
    </div>
</div>
 
 <div ng-include="'app/views/popUp.html'"></div>