<style>

.allusersgroup-height .ui-grid-viewport{
height:198px!important; 
}
 .assign-box-cl{
/*margin-bottom: 80px;
   overflow: visible;
    position: relative; */
    height: 341px;
}
.add-group-cl .table-responsive{
overflow-x: hidden;
}
.form-custom-input{
font-family: Rajdhani-Medium; 
font-size: 14px;
color:rgb(35, 35, 35);
}
</style>
<div ng-include="'app/views/header.html'"></div>
      <div class="maincontainer" style="overflow: hidden;">
         <div class="maincontent">
            <div class="container-fluid">
				<!-- <div class="content-shadow">	 -->
                 <div class="ot-deviceData devicedata-height" style="background-color: #fff;margin: 0 auto 4px;">
               	<div class="table-header" >
				<p style="color:#57bdde;">Available User Groups</p>
				<div class="clearfix"></div>
				</div>
                 <!--  <ul class="nav nav-tabs">
                     <li class="active"><a data-toggle="tab" href="">Available User Groups</a></li>
                     
                  </ul> -->
                  <div class="tab-content add-group-cl">
                     <div id="User" class="tab-pane fade in active">
                       <!--  <div class="orchestra_devices_table"> -->
                           <div class="row">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								 <div class="table-header">
								<!-- 	<ul class="userAdministration-btn">
								  <li class="active"><a data-toggle="tab" href="#home">Username</a></li> 
									
									</ul> -->

									<div class="tab-content">
									  <div id="home" class="tab-pane fade in active">
									<!-- 	<div class="device-table"> -->
									<div class="" >
<!-- 									<a href="" style="right:15px;" class="table-AdministrationAdd" ng-click="showUsergroups()"><img src="images/device-plus-icon.png" alt="add"/></a> -->
										
									</div>
                                    <div class="table-responsive">
									<div ui-grid="addUsergroupsGridOptions" ui-grid-selection class="grid" style="margin:0 auto;width:100%;"></div>

                                    </div>
                                         <div class="col-sm-6">
									<div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing {{itemsPerPage*currentPage}} to {{endLimit}} of {{totalRecords}} entries</div>
									</div>
									<div class="col-sm-6">
										<div   class="pagination-div">
										  <ul class="pagination">
											<li ng-class="DisablePrevPage()">
											  <a href ng-click="prevPage()">&#60;&#60; Prev</a>
											</li>
											<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
											  <a href="">{{n+1}}</a>
											</li>
											<li ng-class="DisableNextPage()">
											  <a href ng-click="nextPage()">Next &#62;&#62;</a>
											</li>
										  </ul>
										</div>
									</div>
										<div class="col-sm-6 user-pagination" align="center">
								 <div class="clearfix"></div>
								  <img class="loading" src="images/ajax-loader.gif" style="width: auto;height: auto;" ng-show="userDataLoading"  ></img>
								<a  class="btn btn-info ot-btn" href="" class="table-AdministrationAdd" ng-click="showUsergroups()"> Add </a>
								<a  class="btn btn-info ot-btn" href=""  ng-click="assignUsersLoad()" ng-disabled="isAssignDisabled" ng-model="isAssignDisabled" >Assign Users </a>
								 <button class="btn btn-info update-btn ot-btn" ng-click="UpdateUserGroupBtn()" ng-disabled="isUpdateDisabled" ng-model="isUpdateDisabled" >Edit</button>
								  <button  class="btn btn-info delete-btn ot-btn" ng-click="DeleteUserGroupBtn()" ng-disabled="isDeleteDisabled" ng-model="isDeleteDisabled"  > Delete</button>
								</div>
                               <!--   </div> -->
									  </div>
									 

									</div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                           </div>
                  <!--       </div> -->
                     </div>


                  </div>
                  
        <div class="clear"></div>
			   <!-- new changes  " Assign Users "-->
			  <br/> 
			   
				<div class="assign-box-cl"  ng-show="assignuser">
                <!--   <ul class="nav nav-tabs" >
                     <li class="active"><a >Assign Users</a></li>
                  </ul> -->
                 <div class="table-header" >
				<p class="heading-color">Assign Users</p>
				<div class="clearfix"></div>
				</div>
				  <div class="ot-center">
							
						  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							 <div class="device-table">
							
								<p><b>Available Users</b></p>
								<div class="table-responsive">
								  <div class="allusersgroup-height" ui-grid="allusersgroupGridOptions" ui-grid-selection class="grid" style="margin:0;height:264px;overflow:hidden;">
								  
								     </div>
								</div>
							 </div>
						  </div>
						  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 ot-toggle-align">
						 
							<div class="ot-toggle ot-toggle-add">
								<div><button type="button" class="" ng-click = "addUser()">&gt;&gt;</button></div><br/>
								<div><button type="button" class="" ng-click = "removeUser()">&lt;&lt;</button></div>
							</div>
						  </div>
						   <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						  
							 <div class="device-table">
							  
								<p><b>Selected Users</b></p>
								<div class="table-responsive">
								  <div class="allusersgroup-height" ui-grid="existingusersGridOptions" ui-grid-selection class="grid" style="margin:0;height:264px;overflow:hidden;">
							
								  </div>
								</div>
							 </div>
						  </div>
						  </div>
               </div>
			   
			   
			   
			   <!--ending new changes -->
			   <div class="ot-userAdministration " ng-show="userDiv" style="height: 336px;"  >
                  <!-- <ul class="nav nav-tabs" >
                     <li class="active"><a >Add User Group</a></li>
                   
                  </ul> -->
                  <div class="table-header" >
				<p class="heading-color">Add User Group</p>
				<div class="clearfix"></div>
				</div>
                  <div class="tab-content">
                     <div id="account"  >
                        <div class="orchestra_devices_table back-bg-color">
                           <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<form class="form-horizontal" name="usergroupform">
									 
												<div class="form-group">
													<label for="user_group" class="col-sm-4 control-label">User Group <span class="error-star"></span></label>
													<div class="col-sm-4">
														<input type="text" class="form-control form-custom-input" name="user_group" id="user_group" ng-model="user_group" required ng-minlength="3">
														<span class="errors" ng-show="usergroupform.user_group.$dirty && usergroupform.user_group.$error.required">User Group is required</span>
														<span ng-show="usergroupform.user_group.$error.minlength" class="errors"> User Group field length should not be less than 3 characters</span>
													</div>
												</div>
										<!--		<div class="form-group">
													<label for="user_id" class="col-sm-4 control-label">User Id</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="user_id">
													</div>
												</div>		-->
												
											
									  <div class="form-group ot-btn-data"> 
										<div class=" col-sm-10  text-center" ng-show="createButton">
										  <button type="button" class="btn btn-info ot-btn" ng-click="addUsergroup()" ng-disabled="usergroupform.$invalid" >Save</button>
										  <button type="button" class="btn btn-info ot-btn" ng-click = "cancel()">Cancel</button>
										</div>
										<div class=" col-sm-10  text-center" ng-show="updateButton">
										  <button type="button" class="btn btn-info ot-btn" ng-click="updateUserGroup()" >Update</button>
										  <button type="button" class="btn btn-info ot-btn" ng-click = "cancel()">Cancel</button>
										</div>
									  </div>
									</form>
                              </div>
                           </div>
                        </div>
                     </div>
		
		
                  </div>
               </div>
               </div>
				<!-- </div> -->
				<!--<div ng-include="'app/views/favourites.html'"></div>-->
			</div>
         </div>
      </div>
	  <div ng-include="'app/views/favouritesPopUp.html'"></div>
 <div ng-include="'app/views/popUp.html'"></div>
	<div class="footer-div">
	 <div ng-include="'app/views/footer.html'"></div>
	 </div>
	 <script>

 function setEqualHeight(e) {
	// alert("sdf");
     var t = e.height();
   //  e.each(function () {
         currentHeight = $( window ).height();
       // alert("t:"+t+"currentHeight"+currentHeight)
         if (currentHeight > t) {
        	 
             t = currentHeight
         }
   //  });
     $(".devicedata-height").height(currentHeight-158);
   
 }
/*  $(window).resize(function () {
	
	    setEqualHeight( $('.ui-grid-viewport') );
	});
 $(document).ready(function () {
     setEqualHeight($(".ui-grid-viewport"))
 }) */
</script>