<style>
    .loading-imgac {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
    }

    .error_msg {
        float: right;

        color: red;
        font-size: 14px;
        padding-top: 7px;
        padding-right: 27px;
    }

    .dataTables_filter {
        width: 100%;
    }

    .success_msg {
        float: right;
        color: #48A64C;
        font-size: 14px;
        padding-top: 7px;
        padding-right: 27px;
    }

    .ui-grid-pager-count {
        padding-right: 34px;
    }

    .ui-grid-pager-panel {
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .modal-body {
        padding: 0px 20px 40px 20px !important;
        border-top: 2px solid #ddd;
        margin-top: 20px;

    }

    .Absolute-Center {
        text-align: center;
    }

    .Absolute-Center button {
        background: #1f8ee7 none repeat scroll 0 0;
        border: medium none;
        width: 40%;
        margin: 5px;
        padding: 5px;
        border-radius: 3px;
        color: #fff;
    }

    #commands_div input {
        width: 50px;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 7px 0;
        text-align: center;
        height: 30px;
    }

    .t {
        background-color: #DBDEE5;
        padding: 5px 5px 5px 0px;
    }

    .c {
        padding: 5px 5px 5px 10px;
    }

    .cc {
        padding: 5px 5px 5px 20px;

    }

    .wr {
        word-wrap: break-word;
        padding-right: 15px;
    }

    .taskseq {
        border: 1px solid #fff;
        margin: 2px 0;
        text-align: center;
        background-color: #DBDEE5;
    }

    .taskloop {
        border: 1px solid #fff;
        margin: 2px 0;
        text-align: center;
        background-color: #DBDEE5;
    }

    .seq {
        border: 1px solid #DBDEE5;
        margin: 2px 0;
        text-align: center;
    }

    .loop {
        border: 1px solid #DBDEE5;
        margin: 2px 0;
        text-align: center;
    }

    ul ul, ol ul, ul ol, ol ol {
        list-style-type: none;
    }

    ol {
        margin-left: -25px;
    }

    .device_attachment_tree li div:first-child {
        padding-left: 0px;
    }

    .device_attachment_tree li li div:first-child {
        padding-left: 20px;
    }

    .device_attachment_tree li li li div:first-child {
        padding-left: 40px;
    }

    .device_attachment_tree li li li li div:first-child {
        padding-left: 60px;
    }

    .device_attachment_tree li div {
        margin-bottom: 5px;
    }

    .command_lister_ul > li div {
        font-weight: bold;
    }

    hr {
        margin-top: 35px;
    }

    .angular-ui-tree-handle {
        border: none;
        background: none;
        padding: 0px 0px;

    }

    .angular-ui-tree-node, .angular-ui-tree-placeholder {
        min-height: 0px;
    }

    .devices_table_body tr td.active {
        text-decoration: underline;
        background: none;
    }

    .datatable-header > div:first-child {
        padding-left: 20px;
    }

    .datatable-header {
        padding-top: 10px;
    }

    .icons-list > li {
        float: left;
    }

    .form-control {
        height: 37px;
        display: inline-block;
    }

    .loaderandwait {
        position: absolute;
        top: 50%;
        left: 38%;
    }

    .popover > .arrow:after {
        border: none;
        content: " ";
    }

    .popover > .arrow {
        bordrer: none
    }

    .popover {
        display: block;
    }

    .popover.top > .arrow {
        border-top-color: transparent;
        border-top-color: transparent;
        bottom: 0px;
    }

    .editable-container.popover {
        width: 20%;
        min-width: 200px;
    }

    .popover-content {
        padding: 0 0 20px 0px;
    }

    .form-control-label {
        border: none;
    }

    .editable-click, a.editable-click, .editable-click:hover, a.editable-click:hover {
        border-bottom: none;
    }

    .nav-tabs > .active {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: transparent;
        color: #fff;
    }

    .nav-tabs > .active > a:focus {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: transparent;
        color: #fff;

    }

    .nav-tabs.nav-tabs-bottom > li.active > a, .nav-tabs.nav-tabs-bottom > li.active > a:hover, .nav-tabs.nav-tabs-bottom > li.active > a:focus {
        border-bottom: none;
    }

    .icons-list {
        margin-top: 7px;
        padding: 0 0 0 20px;

    }

    .progress {
        margin-top: 7px;
    }

    #allTestRuns .ui-grid-viewport, #RealDevicesOptions .ui-grid-viewport, #jobStatusList .ui-grid-viewport, #deviceLogListGridOptions .ui-grid-viewport, #deviceTestStatusLogListGridOptions .ui-grid-viewport, #deviceNotificationLogListGridOptions .ui-grid-viewport {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch

    }

    #jobStatusList .ui-grid-pager-panel {
        top: 100%;
    }

    .runbtn {
        padding: 2px 6px;
    }


</style>

<script type="text/ng-template" id="tableTree_renderer-commandgroup-command.html">
    <tbody>
    <tr>
        <td class="text-left">{{node.title}}</td>
        <td class="text-right"><input type="text" ng-model="node.sequenceNo" style="width: 50px;" maxlength="4"
                                      value="1"/></td>
        <td class="text-right"><input type="text" ng-model="node.loop" style="width: 50px;" maxlength="4" value="12"/>
        </td>
    </tr>
    <tr style="background-color: #F9FCF1;">
        <td colspan="3"><span class="text-italic">{{node.commandParams}}</span></td>

    </tr>
    </tbody>
</script>

<script type="text/ng-template" id="tableTree_renderer-commandgroup.html">
    <tbody>
    <tr class="active border-double">
        <td class="text-semibold text-italic" style="background-color: #DBDEE5;">{{node.title}}</td>
        <td class="text-right"><input type="text" ng-model="node.sequenceNo" style="width: 50px;" maxlength="4"
                                      value="0"/></td>
        <td class="text-right"><input type="text" ng-model="node.loop" style="width: 50px;" maxlength="4" value="0"/>
        </td>
    </tr>


    <tr ng-repeat="node in node.nodes" ng-include="'tableTree_renderer-commandgroup-command.html'"></tr>
    </tbody>
</script>

<script type="text/ng-template" id="tableTree_renderer.html">
    <tr class="active border-double">
        <td class="text-semibold text-italic" style="background-color: #DBDEE5;">{{node.title}}</td>
        <td class="text-right"><input type="text" ng-model="node.sequenceNo" style="width: 50px;" maxlength="4"
                                      value="1"/></td>
        <td class="text-right"><input type="text" ng-model="node.loop" style="width: 50px;" maxlength="4" value="12"/>
        </td>
    </tr>

    <tr ng-repeat="node in node.nodes" ng-include="'tableTree_renderer-commandgroup.html'"></tr>
</script>

<script type="text/ng-template" id="nodrop_nodes_renderer2.html">
    <!--<div class="col-lg-1">	</div>-->
    <span ui-tree-handle>
<div class="col-lg-4 col-sm-4 col-xs-4">
<a data-nodrag ng-click="toggle(this)">
		<span ng-class="{
		'icon-folder-plus': collapsed,
		'icon-folder-minus': !collapsed
		}">
		</span>
		</a>
{{node.title}}</div>
<div class="col-lg-4 col-sm-4 col-xs-4"><span ng-if="node.commandParams && node.isCommand"><input class="form-control "
                                                                                                  ng-model="node.commandParams"
                                                                                                  type="text"
                                                                                                  style="border:none;  display: inline-block; width: 92%; padding-left:0px;"/><a
        href class="editable editable-click editable-open" aria-describedby="popovercommand"
        ng-click="createFrom(node,$event)"><i class="icon-pencil5 text-green-800 user_editor_link"></i></a></span>
<span ng-if="!node.commandParams.length && node.isCommand"><input class="form-control " ng-model="node.commandParams"
                                                                  type="text"
                                                                  style="display: inline-block; width: 92%; padding-left:0px;"/></span></div>
<div class="col-lg-2 col-sm-2 col-xs-2"><input class="form-control command_loop_number" ng-model="node.loop"
                                               style="width: 50px; text-align:center;" maxlength="4" type="text"
                                               numbers-only/></div>
<div class="col-lg-2 col-sm-2 col-xs-2"><input class="form-control sequence_number"
                                               style="width: 50px; text-align:center;" ng-model="node.sequenceNo"
                                               maxlength="4" type="text" numbers-only/></div>
</span>

    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'nodrop_nodes_renderer2.html'"></li>
    </ol>


</script>
<!-- header  -->
<div ng-include="'app/views/header/header.html'"></div>
<!-- /header  -->
<!-- menu -->
<div ng-include="'app/views/menus/menu.html'"></div>
<!-- /menu -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- top row for the test plan details -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Test Case list -->
                    <div class="col-lg-6">

                        <!-- Test case list -->
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h5 class="panel-title">Batch Run List</h5>
                            </div>

                            <div class="panel-body">
                                <!-- test plan ui grid -->
                                <div class="datatable-header">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label><span>Filter:</span>
                                            <input type="type" class="" ng-change="singleFilter()" ng-model="searchText"
                                                   placeholder="Type to filter..."></label>
                                        <span class="error_msg" ng-show="errorMsg">{{Message}}</span>
                                        <span ng-show="testPlanName" class="success_msg">{{testPlanNameMsg}}</span>
                                    </div>

                                </div>
                                <div id="BatchRunOptions" ui-grid="BatchRunOptions" ui-grid-selection ui-grid-cellNav
                                     ui-grid-auto-resize ui-grid-edit ui-grid-row-edit ng-style="getTableHeight()"
                                     class="table table-hover grid">
                                </div>
                                <img class="loading loaderandwait" src="images/please_wait.gif"
                                     ng-show="dataProcessingBatchRun">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info data-info_d-list" id="dataTables-example_info"
                                             role="alert" aria-live="polite" aria-relevant="all">Showing
                                            {{(itemsPerPage*currentPage+1)}} to {{endLimit}} of {{totalRecords}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers">
                                            <a ng-class="DisablePrevPage()" class="paginate_button previous"
                                               ng-click="prevPage()">&larr;</a>
                                            <span>
												  <a ng-repeat="n in range()" ng-class="{current: n == currentPage}"
                                                     ng-click="setPage(n)" class="paginate_button">{{n+1}}</a>
												</span>
                                            <a ng-class="DisableNextPage()" class="paginate_button next"
                                               ng-click="nextPage()">&rarr;</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /test plan ui grid -->
                            </div>
                        </div>
                        <!-- /test case list -->
                    </div>
                    <!-- /Test Case list -->

                    <!-- Schedule & Report display area -->
                    <div class="col-lg-6">

                        <!-- A div to show the test plan reports -->
                        <div class="col-lg-12 display_test_plan_reports" ng-show="testPlanView">

                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Batch Run Details</h5>
                                </div>
                                <div class="panel-body">
                                    <!-- Top Stats row -->
                                    <div class="row">
                                        <!-- Total Runs -->
                                        <div class="col-md-12">
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <button class="btn bg-blue btn-block btn-float btn-float-lg"
                                                            type="button">
                                                        <i class="icon-stats-bars"></i>
                                                        <span>{{selectedBatchRun.testRuns.length}} Test Runs</span>
                                                    </button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn bg-pink btn-block btn-float btn-float-lg"
                                                            type="button">
                                                        <i class="icon-screen3"></i>
                                                        <span>{{selectedBatchRunDetails.totalDevices}} Devices</span>
                                                    </button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn bg-orange btn-block btn-float btn-float-lg"
                                                            type="button">
                                                        <i class="icon-play"></i>
                                                        <span>{{((selectedBatchRun.executionStatus ==1)?"Running" : "Idle")}}</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /Total Runs -->

                                    </div>
                                    <!-- /Top Stats row -->
                                    <img class="loading loading-imgac" src="images/loading_new.gif"
                                         ng-show="dataLoadingForTestRunDetailsView"></img>
                                    <!-- Bottom Tasks Row -->
                                    <div class="row task_groups_div"
                                         style='min-height: 383px; max-height: 383px; overflow: auto;'
                                         ng-show="testCaseDetails">
                                        <h5>Test Case List</h5>
                                        <hr/>
                                        <div class="col-md-4" ng-repeat="testPlanDetail in testPlanViewDetails">
                                            <div class="panel border-left-lg border-left-primary">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h6 class="no-margin-top"><a href
                                                                                         ng-click="viewCommands(testPlanDetail.node,testPlanDetail.commandCount)"
                                                                                         class='task_detailed_view'>{{testPlanDetail.testCaseName}}</a>
                                                            </h6>
                                                            <p class="mb-15"><i class="text-primary icon-code"></i>&nbsp;
                                                                {{testPlanDetail.commandGroupCount}} Command Groups</p>
                                                            <p class="mb-15"><i class="text-primary icon-embed2"></i>&nbsp;
                                                                {{testPlanDetail.commandCount}} Commands</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel-footer">
                                                    <ul>
                                                        <li>Commands: <span class="text-semibold">{{testPlanDetail.commandCount}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /Bottom Tasks Row -->
                                    <!-- Bottom Commands Row -->
                                    <div class="row commands_div"
                                         style='min-height: 120px; max-height: 383px; overflow: auto; margin-top: 15px;'>
                                        <div class="panel panel-white">
                                            <div class="panel-body">
                                                <div ui-grid="BatchRunDetailsOptions" ui-grid-selection ui-grid-cellNav
                                                     ui-grid-auto-resize ui-grid-edit ui-grid-row-edit
                                                     ng-style="getTableHeight()"
                                                     class="table table-hover grid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Bottom Commands Row -->
                                </div>
                            </div>
                        </div>
                        <!-- /A div to show the test plan reports -->
                    </div>
                    <!-- /Schedule & Report display area -->
                </div>
            </div>
            <!-- /top row for the test plan details -->
            <!-- Test Runs Area -->
            <div class="col-lg-12 test_runs_div" ng-show="testRunEditView">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3"><h5>{{selectedBatchRunForEdit.batchRunName}}</h5></div>
                            <div class="col-sm-9"><h5>{{selectedBatchRunForEdit.batchRunDesc}}</h5></div>
                        </div>
                    </div>
                    <div class="panel-body" style='min-height: 120px; max-height: 383px; overflow: auto;'>
                        <div ui-grid="BatchRunDetailsEditOptions" ui-grid-selection ui-grid-cellNav
                             ui-grid-auto-resize ui-grid-edit ui-grid-row-edit ng-style="getTableHeight()"
                             class="table table-hover grid">
                        </div>
                        <img class="loading loading-imgac" src="images/loading_new.gif"
                             ng-show="dataLoadingForTestRunDetailsForEditView"></img>
                    </div>
                    <div class="panel-footer" style="padding-top: 8px;padding-bottom: 8px;">
                        <button type="button" data-toggle="modal" data-target="#add_test_run"
                                class='btn btn-success pull-right'>Add TestRun
                        </button>
                    </div>
                </div>
                <!-- /Test Runs Area -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->


    <!-- Device_List -->
    <div id="edit_test_run" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit StartTime</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-dismiss="modal" data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="add_test_run" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select a TestRun for adding in batchrun</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-dismiss="modal" data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">
                    <div>
                        <br/>
                        <select name="test-run">
                            <option value="">--Select a TestRun--</option>
                            <option ng-repeat="testRun in allTestRuns" value="{{testRun.testrunId}}">({{testRun.testrunId}}){{testRun.testrunName}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Device_List -->
<div id="Device_List" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{header}}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">

                        <li><a ng-click="showDeviceLogDetailsRefresh(this);" data-action="reload"></a></li>
                        <li><a data-dismiss="modal" data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="modal-body">
                <img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoadingPopup"></img>
                <p style="text-align:center" ng-show="deviceLogList.deviceLogList.length <= 0 && !dataLoadingPopup">
                    No Data Found</p>

                <div id="deviceLogListGridOptions" ui-grid="deviceLogListGridOptions" ui-grid-pagination
                     ui-grid-cellNav ui-grid-auto-resize
                     ng-show="deviceLogList.deviceLogList.length > 0 && !dataLoadingPopup"
                     class="table table-hover grid" style="overflow:hidden;height: 500px;">
                </div>

                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /Device_List -->

<!-- DeviceTestStatus_List -->
<div id="DeviceTestStatus_List" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{header}}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a ng-click="showDeviceTestStatusLogDetailsRefresh(this);" data-action="reload"></a>
                        </li>
                        <li><a data-dismiss="modal" data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="modal-body">
                <img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoadingPopup"></img>
                <p style="text-align:center"
                   ng-show="deviceTestStatusLogList.deviceTestStatusLogList.length <= 0 && !dataLoadingPopup">No
                    Data Found</p>

                <div id="deviceTestStatusLogListGridOptions" ui-grid="deviceTestStatusLogListGridOptions"
                     ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize
                     ng-show="deviceTestStatusLogList.deviceStausLogList.length > 0 && !dataLoadingPopup"
                     class="table table-hover grid" style="overflow:hidden;height:500px;">
                </div>

                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /DeviceTestStatus_List -->

<!-- DeviceNotification_List -->
<div id="DeviceNotification_List" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{header}}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">

                        <li><a ng-click="showDeviceNotificationLogDetailsRefresh(this);" data-action="reload"></a>
                        </li>
                        <li><a data-dismiss="modal" data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="modal-body">
                <img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoadingPopup"></img>
                <p style="text-align:center"
                   ng-show="deviceNotificationLogList.deviceNotificationLogList.length <= 0 && !dataLoadingPopup">No
                    Data Found</p>

                <div id="deviceNotificationLogListGridOptions" ui-grid="deviceNotificationLogListGridOptions"
                     ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize
                     ng-show="deviceNotificationLogList.deviceNotificationLogList.length > 0 && !dataLoadingPopup"
                     class="table table-hover grid" style="height: 500px;">
                </div>

                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /DeviceNotification_List -->

<!-- DeviceNotification_List -->
<div id="jobStatus" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{header}}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">

                        <!-- <li><a ng-click="showDeviceStatusRefresh(this);" data-action="reload"></a></li> -->
                        <li><a data-dismiss="modal" data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 margin_top">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Test Run Id</th>
                                <th>Device Id</th>
                                <th>Distinct Command Size</th>
                                <th>Scheduled Commands Count</th>
                                <th>Test Run Name</th>
                                <th>Test Run Start Date</th>
                            </tr>
                            </thead>
                            <tbody style="font-weight:normal;">
                            <tr>
                                <td>
                                    {{testRunID}}
                                </td>
                                <td>
                                    {{deviceID}}
                                </td>
                                <td>
                                    {{distinctCommandSize}}
                                </td>
                                <td>
                                    {{scheduledCommandsCount}}
                                </td>
                                <td>
                                    {{testRunName}}
                                </td>
                                <td>
                                    {{jobStartDate}}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/loading.gif" style="position:relative;left:42%;"
                             ng-show="dataLoadingPopup"></img>
                        <p style="text-align: center"
                           ng-show="commandInfoList.length <= 0 && !dataLoadingPopup">No
                            Data Found</p>

                        <div id="jobStatusList" ui-grid="jobStatusList" ui-grid-pagination ui-grid-cellNav
                             ui-grid-auto-resize ui-grid-edit ui-grid-row-edit ui-grid-resize-columns
                             ng-show="commandInfoList.length > 0 && !dataLoadingPopup"
                             class="table table-hover grid" style="height: 500px;">
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<!-- /DeviceNotification_List -->

<!-- Test Plan Info -->
<div id="TestPlanQuickView" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-dismiss="modal" data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="command_lister_ul" style="list-style: none; padding: 10px;">
                            <li>
                                <div class="col-lg-3 col-sm-3">Title</div>
                                <div class="col-lg-5 col-sm-5">Command Params</div>
                                <div class="col-lg-2 col-sm-2" style="text-align:right; padding-right: 21px;">Loop
                                </div>
                                <div class="col-lg-2 col-sm-2" style="text-align:center;">Sequence</div>
                            </li>
                            <li>
                                <hr/>
                            </li>
                            <img src="images/loading.gif" style="position:relative;left:42%;"
                                 ng-show="dataLoadingForQuickArea"></img>
                            <span ui-tree>
														<ol ui-tree-nodes="" ng-model="testPlanView"
                                                            class="device_attachment_tree">
														<li ng-repeat="node in testPlanView" ui-tree-node data-nodrag
                                                            ng-include="'nodrop_nodes_renderer2.html'"></li>
														</ol>
													</span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Test Plan info -->

<div class="popover fade top in editable-container editable-popup"
     role="tooltip" id="popovercommand" ng-show="showPopover"
     style="left:50.5%; -webkit-box-shadow: 0px 0px 20px 2px rgba(191,191,191,0.5); -moz-box-shadow: 0px 0px 20px 2px rgba(191,191,191,0.5); box-shadow: 0px 0px 20px 2px rgba(191,191,191,0.5);">
    <div class="arrow" style="left: 50%;"></div>
    <h3 class="popover-title">Edit Command Parameters</h3>
    <div class="popover-content">
        <div>
            <!-- <div class="editableform-loading" ></div> -->
            <form class="editableform" style="">
                <div class="control-group form-group">
                    <!-- dynamic append -->
                    <div class="editable-input">


                    </div>
                    <!-- end dynamic append -->
                    <div class="editable-buttons editable-buttons-bottom">
                        <button type="button" ng-click="addField('updateCommandParametersForm');"
                                class="btn btn-primary btn-icon editable-submit">
                            <i class="icon-plus3"></i>
                        </button>
                        <button type="button"
                                ng-click="updateCommandParametersAction('updateCommandParametersForm');"
                                class="btn btn-primary btn-icon editable-submit">
                            <i class="icon-check"></i>
                        </button>
                        <button type="button" ng-click="updateCommandParametersClose();"
                                class="btn btn-default btn-icon editable-cancel">
                            <i class="icon-x"></i>
                        </button>
                    </div>
                    <div class="editable-error-block help-block" style="display: none;"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- footer  -->
<div ng-include="'app/views/footer/footer.html'"></div>
<!-- /footer  -->

</div>