<script type="text/ng-template" id="nodes_renderer1.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a  data-nodrag ng-click="toggle(this)"><span class="glyphicon icon-green" ng-class="{'glyphicon glyphicon-plus-sign': collapsed,
		'glyphicon glyphicon-minus-sign': !collapsed}"></span></a>
    <!--<input type="text" ng-model="node.title">-->
	
	<label class="tree-label">{{node.title}}</label>
	
  </div>
  
  <ol ng-if="!node.commandId" ui-tree-nodes="" data-drag-enabled="true" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
	</ol>
	<ol ng-if="node.commandId" ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
	</ol>
</script>

<script type="text/ng-template" id="nodrop_nodes_renderer.html">	
		
		
	<div ui-tree-handle class="tree-node tree-node-content tree-label" >
		


		
		<a data-nodrag ng-click="toggle(this)">
		<span class="glyphicon icon-green" ng-class="{
		'glyphicon glyphicon-plus-sign': collapsed,
		'glyphicon glyphicon-minus-sign': !collapsed
		}">
		</span>
		</a>
		<span ng-if="node.commandId && node.commandId!=-1">
	<!--	<input type="text" class="create-tp-input" ng-model="node.title" readonly>-->
<label class="create-tp-input create-tp-label" ng-model="node.title">{{node.title}}</label>
		</span>
		<span ng-if="!node.commandId || node.commandId < 0">
		<input type="text" class="create-tp-input create-input tree-label" ng-model="node.title">
		</span>
	
<span class="create-tp-span">
		<input type="text" class="taskLoop tp-loop-wd create-input"  ng-model="node.loop"></span>
	    <input type="text" class="taskSequenceNo tp-seq-wd create-input"  ng-model="node.sequenceNo">

		<span ng-if="!node.commandId">
			<a ng-if="node.id != '1'" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
			<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
		</span>
		<span ng-if="node.commandId">
			<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this); test(this);"><span class="glyphicon glyphicon-remove"></span></a>
			<!--<a ng-if="node.commandId == '-1'" class="pull-right btn btn-primary btn-xs addCommand{{node.id}}" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>-->
		</span>
		
	</div>
 
	<ol ng-if="!node.commandId" ui-tree-nodes="" data-drag-enabled="false" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node  ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
	<ol ng-if="node.commandId" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>

</script>


<div class="row">
  <div class="col-sm-6">
	<span style="width:45%;margin-left: 0;"><label>Available Commands</label></span></div>
<div class="col-sm-3" style="width: 16%;"><label>Name</label></div>
<div class="col-sm-1" style="width: 14%;"><label>Loop</label></div>
<div class="col-sm-2" ><label>Seq No.</label></div>
  
</div>
  
  
 <div class="row" style="margin-left:0px;margin-right:0px;">
<div class="col-sm-5 create-tp-scroll-commands ">
  
    


    <div ui-tree="optionsTree1"  id="tree1-root" data-clone-enabled="true" data-nodrop-enabled="true">
      <ol ui-tree-nodes="" ng-model="tree1">
        <li ng-repeat="node in tree1" data-collapsed="!tree1.expanded" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
      </ol>
    </div>
	</div>
	<div id="scroll_commands" class="col-sm-7 create-tp-scroll-commands">
    <div ui-tree="optionsTree2"  id="tree2-root" data-clone-enabled="true" style=" padding-bottom: 75px;">
      <ol ui-tree-nodes="" ng-model="tree2" >
        <li ng-repeat="node in tree2" ui-tree-node data-nodrag  ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
      </ol>
    </div>
	</div>
  </div>

