<style>
.taskSequenceNo {
width:34px;
}
.taskLoop {
width:34px;
}
.nodrop {
    background-color: red;
}
</style>

<script type="text/ng-template" id="nodes_renderer1.html">
  <div ui-tree-handle class="tree-node">
    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
    <input type="text" ng-model="node.title">
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'">
    </li>
  </ol>
</script>

<script type="text/ng-template" id="nodrop_nodes_renderer.html">	
		
		
	<div class="tree-node">
		<div class="pull-left tree-handle" ui-tree-handle>
		<span class="glyphicon glyphicon-list"></span>
		</div>
		<div class="tree-node-content">
		<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
		<span class="glyphicon" ng-class="{
		'glyphicon-chevron-right': collapsed,
		'glyphicon-chevron-down': !collapsed
		}">
		</span>
		</a>

		<input type="text" ng-model="node.title">
		<input type="text" class="taskLoop"  ng-model="node.loop">
	    <input type="text" class="taskSequenceNo"  ng-model="node.sequenceNo">

		<span ng-if="(node.id %100)!= 0">
			<a ng-if="node.id != '1'" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
			<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
		</span>
		</div>
	</div>
  
	<ol ng-if="node.nodrop" ui-tree-nodes="" data-nodrop-enabled="true" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
	<ol ng-if="!node.nodrop" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
</script>


<div class="row">
  <div class="col-sm-6">
    <h3>Available Commands</h3>
    <div ui-tree id="tree1-root" data-clone-enabled="true" data-nodrop-enabled="true">
      <ol ui-tree-nodes="" ng-model="tree1">
        <li ng-repeat="node in tree1" data-collapsed="!tree1.expanded" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
      </ol>
    </div>
  </div>

  
  <div class="col-sm-6">
 <div class="row">
  <div class="col-sm-9">
  <h3>Task</h3>
    <div class="row"><div class="col-sm-3"><h5>Name</h5></div><div class="col-sm-3"><h5>Loop</h5></div><div class="col-sm-3"><h5>Seq No.</h5></div></div>
	</div>
</div>
    <div ui-tree id="tree2-root" data-clone-enabled="true">
      <ol ui-tree-nodes="" ng-model="tree2" >
        <li ng-repeat="node in tree2"  ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>
</div>

<h3>Data binding</h3>
<div class="row">
  <div class="col-sm-6">
    <pre class="code">{{ tree1 | json }}</pre>
  </div>

  <div class="col-sm-6">
    <pre class="code">{{ tree2 | json }}</pre>
  </div>
</div>