<style>
.taskSequenceNo {
width:34px;
}
.taskLoop {
width:34px;
}

.nodrop {
    background-color: red;
}
.tp-seq-wd {
    margin-left: 3%;
    width: 9%!important;
    margin-right: 5%;
}
</style>

<script type="text/ng-template" id="nodrop_nodes_renderer.html">	
	
		
	
	<div class="tree-node">
		
		
		<div class="tree-node-content">
		<tr>
		<td><a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
		<span class="glyphicon" ng-class="{
		'glyphicon-chevron-right': collapsed,
		'glyphicon-chevron-down': !collapsed
		}">
		</span>
		</a>
		

		<label class="create-tp-input create-tp-label" style="width:23%;" ng-model="node.title">{{node.Name}}</label>
		</td>
		<td><label class="create-tp-input create-tp-label tp-seq-wd" style="width:9%;" ng-model="node.Loop">{{node.Loop}}</label></td>
	    <td><label class="create-tp-input create-tp-label tp-seq-wd ctp-mar-left" style="width:6%;margin-right:3%;" ng-model="node.Sequence">{{node.Sequence}}</label></td>
		<span ng-if="node.CommandParams != ''">
			<td> 
				<input type="text" id="commandId{{node.commandId}}"  ng-model="node.CommandParams"/>
			</td>
			<td> 
				<a class="pull-right btn btn-primary btn-xs" data-toggle="modal" data-target="#commandPramameter" data-nodrag ng-click="createFrom(this)" style="background-color:#337ab7;;margin-right: 8px;padding: 3px 5px;line-height: 1.2;"><span class="glyphicon glyphicon-plus-sign"></span></a>
			</td>
			
			
		
		 </span>
		</tr>
		</div>
		
		
	</div>
  

	<ol ng-if="node.nodrop" ui-tree-nodes="" data-nodrop-enabled="true" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
	<ol ng-if="!node.nodrop" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
	
</script>

									<div class="col-md-13">
												<table class="table table-bordered">
													<thead>
														<tr class="created-tp-tree-header">
														<th style="width:17%;">Name</th>
														<th style="width:10%;">Loop</th>
														<th style="width:10%;">Seq No.</th>
														<th>Default Params</th>
														</tr>
													</thead>
												</table>

													<table class="table table-bordered">	
														<div ui-tree id="tree2-root" class="created-tp-tree-root created-td-scroll" >
														<div style="margin-bottom:20px;">
														<ol ui-tree-nodes="" ng-model="uiTreeJSON" >
														<li ng-repeat="node in uiTreeJSON"  ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
														</ol>
														</div>
													</div>
													
												</table>
														
											</div>
											 