<style>
.angular-ui-tree-node, .angular-ui-tree-placeholder{
	mrgin-top:20px !important;}
/* .angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 10px;
} */
.angular-ui-tree-node{
	min-height:36px;
}
.panel-body {
    padding: 14px 14px 7px 14px;
}
.panel {
    margin-bottom: 7px;
    }
.panel_mt{
	margin-top: 15px;
}
.angular-ui-tree-handle{
border:none;
background:none;
padding: 10px;
}

.textboxcommand{
height: 25px;
    margin-bottom: 5px!important;
    padding: 2px 10px;
    }

#aab{
border-bottom: 1px solid #dae2ea;}


input {
font-weight:normal;}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #636363;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #636363;
}
.addButtonTestPlan{
padding:4px;}

.commandText div:first-child{
padding:0;
margin:0;}

.dropCommands{
	margin-top: -10px;
    padding-bottom: 10px}
												

input{
margin:0px 3px !important; }
.panel-heading{
    padding: 10px 20px;
   }
 .form-control{
 	height: 25px;
    padding: 2px 10px;
 }
 .heading-elements{
 top:40%;
 }
 .well{
     padding: 20px 20px 0px 20px;
 }
 .command_group_container_div{
 	padding: 14px 14px 14px 14px;
 }
 div .command_group_container_div:not(:first-child) {
    padding: 0px 14px 14px 14px;
}
.coustom-form-control{
display:inline-block;
width:40px;
text-align:center;
}
hr{
margin-bottom:5px !important;
}
</style>
<script type="text/ng-template" id="nodes_renderer5.html">
  <div ui-tree-handle class="tree-node tree-node-content">
   	{{node.title}}
  </div>
</script>

<script type="text/ng-template" id="nodrop_nodes_renderer.html">
<div ui-tree-handle  >
<div class="panel-heading" style="padding: 0 12px;">
								<h6 class="panel-title">Test Plan Details</h6>
								<div class="heading-elements">
									<ul class="icons-list">
										<li><span style="font-weight:normal; margin-right:5px;">Loop:</span> <input type='text' class='form-control' ng-model="node.loop" style='width: 40px; display:inline-block !important; text-align:center;' maxlength='4' numbers-only /></li>
										<!--<li><span class="label label-primary">Re map</span></li>-->
										<li><a><span class="label label-success add_new_test_case_label addButtonTestPlan" ng-click="newSubItem(this)">Add New Test Case</span></a></li>
									</ul>
								</div>
							</div>
</div>

<div class="panel-body test_case_container_div bg-slate-300" >
								<div ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
								<div class="panel panel-white test_case_panel" ui-tree-node ng-repeat="node in node.nodes" ng-include="'nodrop_nodes_renderer3.html'" >
						</div>
</div>
				</div>


</script>
<script type="text/ng-template" id="nodrop_nodes_renderer3.html">	
<div ui-tree-handle  id="aab">										
<div class="panel-heading">
										<h6 class="panel-title">Test Case</h6>
										<div class="heading-elements">
											<ul class="icons-list">
		                		<li><input type='text' class='form-control' placeholder='test case name' ng-model="node.title" style='width: 150px; padding: 7px 12px;' maxlength='50' /></li>
								<li><span style="font-weight:normal; margin-right:5px; margin-left:7px;">Loop:</span> 
									<input type='text' class='form-control command-group-loop' ng-model="node.loop" style='width: 40px; text-align: center; display: inline-block !important;' maxlength='4' numbers-only/></li>
		                		<li><span style="font-weight:normal; margin-right:5px; margin-left:7px;">Sequence:</span> 
									<input type='text' class='form-control command-group-sequnce' ng-model="node.sequenceNo"  style='width: 40px; text-align: center; display: inline-block !important;' maxlength='4' numbers-only/></li>
		                		<li><a><span class="label label-success add_command_group_label addButtonTestPlan" ng-click="newSubItem(this)">Add new command group</span></a></li>
		                		<li><a><i class='icon-diff-removed text-orange-600' ng-click='removeNode(this);'></i></a></li>
								<li><a data-action='collapse' ng-click='toggle(this)';></a></li>
		                	</ul>
	                	</div>
									</div>
</div>	
		<div ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
	<div class="panel-body command_group_container_div" ui-tree-node ng-repeat="node in node.nodes" ng-include="'nodrop_nodes_renderer1.html'">	
	
							
</div>
		</div>										

</script>
<script type="text/ng-template" id="nodrop_nodes_renderer2.html">
	<div ui-tree-handle  >										
<div class='col-lg-7 col-sm-7' style="color:#7c9eb2;">{{node.title}}</div>
<div class='col-lg-2 col-sm-2'><input class='form-control command-group-loop  textboxcommand'  ng-model="node.loop" style='width: 40px; text-align:center;' maxlength='4' type='text' numbers-only/></div> 
<div class='col-lg-2 col-sm-2'><input class='form-control command-group-sequnce textboxcommand' style='width: 40px; text-align:center;' ng-model="node.sequenceNo" maxlength='4' type='text' numbers-only/></div> 
<div class='col-lg-1 col-sm-1 remove_command_icon text-center' ><a><i class='icon-diff-removed text-orange-600' ng-click='removeNode(this);'></i></a></div>
				</div>								

</script>

<script type="text/ng-template" id="nodrop_nodes_renderer1.html">											
<!-- Command Groups Row -->
							<span ng-if="node.isFirst">
										<div class="col-lg-12">
											<div class="col-md-4 well">
												<form action="#">

													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label class="text-semibold">Command Group Name:</label> 
																<input type="text" class="form-control command-group-name" ng-model="node.title" maxlength="50" style="width: 98%;">
															</div>
														</div>
														
													</div>
													
													<div class="row">
														<div class="col-md-5">
															<div class="form-group">
																<label class="text-semibold">Loop:</label>
																<input type="text" class="form-control command-group-loop coustom-form-control" placeholder="Loop" ng-model="node.loop" value='1' maxlength="4" numbers-only>
															</div>
														</div>
														<div class="col-md-7">
															<div class="form-group pull-right">
																<label class="text-semibold">Sequence:</label>
																<input type="text" class="form-control command-group-sequnce coustom-form-control" placeholder="Sequence" ng-model="node.sequenceNo" value='1' maxlength="2" numbers-only>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div class="col-md-8 droppable" style='z-index: 0'>
												<ul class="command_lister_ul" style='list-style: none; padding: 10px;'>
													<li class="text-semibold dropCommands" droppable="true">Drop Commands Here:</li>
													<li class="commandText"><div class="col-md-7 col-sm-7">Command</div><div class="col-lg-2 col-sm-2">Loop</div><div class="col-md-2 col-sm-2">Sequence</div><div class="col-md-1 col-sm-1">Remove</div></li>
													<li><hr /></li>
														<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
														<li ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'nodrop_nodes_renderer2.html'"></li>
														</ol>
												</ul>
											</div>
										</div>
									</span>
							<span ng-if="!node.isFirst">
										<div class="col-lg-12" style="border-top: 5px double #ccc; padding-top: 14px;">
											<div class="col-md-4 well">
												<form action="#">

													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label class="text-semibold">Command Group Name:</label> <a><i style="margin-left: 150px;" class='icon-diff-removed text-orange-600' ng-click='removeNode(this);'></i></a>
																<input type="text" class="form-control command-group-name" ng-model="node.title"  maxlength="50" style="width: 98%;">
															</div>
														</div>
														
													</div>
													
													<div class="row">
														<div class="col-md-5">
															<div class="form-group">
																<label class="text-semibold">Loop:</label>
																<input type="text" class="form-control command-group-loop coustom-form-control" placeholder="Loop" ng-model="node.loop" value='1' maxlength="4" numbers-only>
															</div>
														</div>
														<div class="col-md-7">
															<div class="form-group pull-right">
																<label class="text-semibold">Sequence:</label>
																<input type="text" class="form-control command-group-sequnce coustom-form-control" placeholder="Sequence" ng-model="node.sequenceNo" value='1' maxlength="2" numbers-only>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div class="col-md-8 droppable" style='z-index: 0'>
												<ul class="command_lister_ul" style='list-style: none; padding: 10px;'>
													<li class="text-semibold dropCommands" droppable="true">Drop Commands Here:</li>
													<li class="commandText"><div class="col-md-7 col-sm-7">Command</div><div class="col-lg-2 col-sm-2">Loop</div><div class="col-md-2 col-sm-2">Sequence</div><div class="col-md-1 col-sm-1">Remove</div></li>
													<li><hr /></li>
														<ol ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
														<li ng-repeat="node in node.nodes" ui-tree-node  ng-include="'nodrop_nodes_renderer2.html'"></li>
														</ol>
												</ul>
											</div>
										</div>
									</span>
										<!-- /Command Groups Row -->
										
</script>
	<!-- header  -->
	<div ng-include="'app/views/header/header.html'"></div>
	<!-- /header  -->
	<!-- menu -->
	<div ng-include="'app/views/menus/menu.html'"></div>
	<!-- /menu -->

	<!-- Page header -->
	 <!-- <div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<span class="text-semibold">Test</span> - plan
				</h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-hash text-primary"></i><span>Videos</span></a>
				</div>
			</div>
		</div>
	</div>  -->
	<!-- /page header -->


	<!-- Page container -->
	<div data-spy="scroll" data-target=".sidebar-fixed" class="page-container sidebar-opposite-visible" >

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- main test script canvas -->
				
				<div class="col-lg-10 tenDiv" style="padding-left:0px !important;">
					
					<!-- area to create test case master  -->
					<div class="col-lg-12">
						
						<div class="panel panel-white">
							<div class="panel-heading">
								<h6 class="panel-title droppable">Create Test Plan</h6>
							</div>
							<div class="panel-body">
								
								<form  name="form" role="form">
									<div class="panel panel-flat">
										<div class="panel-body">

											<div class="col-md-12"  style="padding:10px 10px 0px 10px;">
												<div class="col-lg-6">
													<div class="col-lg-12">
														<div class="form-group">
															<div class="col-lg-3" style="padding:0px;">
																<label class="text-semibold">Test Plan Name:</label>
															</div>
															<div class="col-lg-9">
																<input type="text" class="form-control" id="testPlanName" name="testPlanName"  ng-model="testPlanName" ng-change="copyToTestPlanName()" placeholder="Test Plan Name" required>
																<span style="color:red" ng-show="form.testPlanName.$dirty && form.testPlanName.$error.required" class="help-block">Test Plan Name is required*</span>
															</div>
														</div>
													</div>

													<div class="col-lg-12" style='padding-top: 20px;'>
														<div class="form-group">
															<div class="col-lg-3" style="padding:0px;">
																<label class="text-semibold">Use Case:</label>
															</div>
															<div class="col-lg-9">
																
        														
        														 <select selectBoxPreSelected class='form-control' name="usecaseVal"
													ng-options="option.name for option in usecases track by option.id"
													data-ng-model="usecaseVal"></select>
													
												<!-- <select
												        class="form-control"
												        select2
												        name="country"
												        data-ng-model="client.primary_address.country"
												        ng-options="c.name as c.name for c in client.countries">
												        <option value="">Select Country</option>
												    </select> -->
													
																
																<!-- <select  class="select form-control">
																<span ng-repeat="option in usecases">
          <option ng-repeat="option in usecases"   ng-model="usecaseVal">{{option.name}}</option>
          </span>
        </select> -->
															</div>
														</div>
													</div>
												</div>

												<div class="col-lg-6">
													
													<div class="form-group col-lg-12">
														<label class="text-semibold">Test Description:</label>
														<br />
														<textarea rows="2" cols="5" class="form-control" ng-model="testPlanDescription" placeholder="Enter test plan description here"></textarea>
													</div>
												</div>

											</div>

										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- /area to create test case master -->

					<!-- test case area -->
					<div class="col-lg-12">
						<div class="panel panel-white panel_mt" >
						<div  ui-tree="optionsTree2"  id="tree2-root" data-clone-enabled="true" >		
						<div ui-tree-nodes="" ng-model="tree2">
						<div  ui-tree-node data-nodrag  ui-tree-node ng-repeat="node in tree2" ng-include="'nodrop_nodes_renderer.html'">
							
							</div>
								</div>
							</div>
							<!-- panel footer -->
							<div class="panel-footer">
								 <ul><li><span  style="color:red" ng-show="err" class="help-block">Please Add Command !!</span>
								 <span  style="color:red" ng-show="jobIsExitsError" class="help-block">Provide Unique Test Plan Name !!</span></li></ul>
								<ul class="pull-right"><li><a ><button type="submit" ng-disabled="form.$invalid" class='btn btn-xs btn-primary' ng-click="createTestPlanService()" >Submit</button></a></li></ul>
							</div>
							<!-- /panel footer -->
						</div>
					</div>
					<!-- /test case area -->
				</div>

				<!-- /main test script canvas -->

				<!-- commands pallette -->
			
				<div class="col-lg-2" style="padding-left: 0px !important;" >
					<div ng-include="'app/views/sidebar/sideBar.html'"></div>
				</div>
			
			<!-- /commands pallette -->
					
	
				<!-- /Content Wrapper -->
	</div>
	</div>
		<!-- /Page content -->
			
		<!-- footer  -->
		<div ng-include="'app/views/footer/footer.html'"></div>
		<!-- /footer  -->

	</div>
	<!-- /page container -->



<script type="text/javascript">
	$(document).ready(function() {
		// required to set the select2 box default to placeholder value
		
		
		 
		

	});

</script>
