<style>
.taskSequenceNo {
width:34px;
}
.taskLoop {
width:34px;
}

.nodrop {
    background-color: red;
}
</style>

<script type="text/ng-template" id="nodrop_nodes_renderer.html">	
	
		
	
	<div class="tree-node">
		
		
		<div class="tree-node-content">
		<tr>
		<td><a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
		<span class="glyphicon" ng-class="{
		'glyphicon-chevron-right': collapsed,
		'glyphicon-chevron-down': !collapsed
		}">
		</span>
		</a>

		<input type="text" ng-model="node.title"></td>
		<td><input type="text" class="taskLoop"  ng-model="node.loop"></td>
	    <td><input type="text" class="taskSequenceNo"  ng-model="node.sequenceNo"></td>
		<span ng-if="node.commandParams">
		<td> <input type="text"  ng-model="node.commandParams"></td>
		 </span>
		</tr>
		</div>
		
		
	</div>
  

	<ol ng-if="node.nodrop" ui-tree-nodes="" data-nodrop-enabled="true" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
	<ol ng-if="!node.nodrop" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
	</ol>
	
</script>

<div class="row">
		<div class="col-md-8">
			
			<h3>Task</h3>
				 <table class="table table-bordered">
					<thead>
					  <tr>
						<th>Name</th>
						<th>Loop</th>
						<th>Seq No.</th>
						<th>Default Params</th>
					  </tr>
					</thead>
				</table>
					
					<table class="table table-bordered">	
						<div ui-tree id="tree2-root" >
							<ol ui-tree-nodes="" ng-model="tree2" >
								<li ng-repeat="node in tree2"  ui-tree-node ng-include="'nodrop_nodes_renderer.html'"></li>
							</ol>
						</div>
					</table>
						
						
					  
					
				
				
				<!--end--->
		
			
		</div>
		<div class="col-sm-4">
			<div class="col-sm-6">
				<h3 style="color:#337ab7;">Virtual Devices</h3>
				<div ui-grid="virtualDeviceGridOptions" ui-grid-selection class="grid" style="margin:0 auto;max-width:80%;"></div>
			</div>
		</div>
</div>



		

  
  
