<!-- Header Start -->
	<div ng-include="'app/views/header/header.html'"></div>
	<!-- Header End -->
	<!-- Second navbar -->
	<div ng-include="'app/views/menus/menu.html'"></div>
	<!-- /second navbar -->



	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<span class="text-semibold">Home</span> - Dashboard
					<small class="display-block">Welcome, {{name | capitalize}}</small>
				</h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-hash text-primary"></i><span>Videos</span></a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">
				<div class="row">
					<div class="col-lg-12">
						
					<!-- Devices Div -->
						<div class="col-lg-6">

							<!-- Device Synopsis Row -->
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-white">
										<div class="panel-heading"><h6>Device Usage &nbsp; <!-- <span class="label label-primary">3.6% Current Active</span></h6> -->
											<div class="heading-elements">
											
												<!-- <div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="icon-calendar22"></i></span>
														<input type="text" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015"> 
													</div>
												</div> -->
											</div>
										</div>

										<div class="panel-body">
											
											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-teal-400">
													<div class="panel-body">
														<h3 class="no-margin">{{registeredDeviceCount}}</h3>
														<div class="text-muted text-size-small">Registered Devices</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>

											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-primary-400">
													<div class="panel-body">
														<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">{{approvedDeviceCountPer}}%</span>
														</div>

														<h3 class="no-margin">{{approvedDeviceCount}}</h3>
														<div class="text-muted text-size-small"> Licensed Devices</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>


											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-indigo-400">
													<div class="panel-body">
														<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">{{availableDeviceCountPer}}%</span>
														</div>

														<h3 class="no-margin">{{availableDeviceCount}}</h3>
														<div class="text-muted text-size-small">New Available Devices</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>



										</div>
									</div>
								</div>
							</div>
							<!-- /Device Synopsis Row -->

							<!-- Device stats -->
							<div class="row">
								<div class="col-lg-12">									
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Device Usage</h6>
								 			<div class="heading-elements">
								 				<div class="status_graph text-capitalize"> <!-- pull-right -->
											<span><em></em> Active</span>
											<span><em></em> Idle</span>
										</div>
										<!-- 		<form class="heading-form" action="#">
													<div class="form-group">
														<select class="change-date select-sm" id="select_date">
															<optgroup label="<i class='icon-watch pull-right'></i> Time period">
																<option value="val1">June, 29 - July, 5</option>
																<option value="val2">June, 22 - June 28</option>
																<option value="val3" selected="selected">June, 15 - June, 21</option>
																<option value="val4">June, 8 - June, 14</option>
															</optgroup>
														</select>
													</div>
												</form> -->
						           </div> 
										</div>

							<!-- 			<div class="container-fluid">
											<div class="row text-center">
												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus2 position-left text-slate"></i>56</h5>
														<span class="text-muted text-size-small">Registrations This Week</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus position-left text-slate"></i> 328</h5>
														<span class="text-muted text-size-small">Registrations This Month</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-wave position-left text-slate"></i>234</h5>
														<span class="text-muted text-size-small">Devices Touched</span>
													</div>
												</div>
											</div>
										</div> -->
<span class="device_graph_text"># of Devices</span>
										<div class="content-group-sm" >
											<canvas id="canvas" height="270px" width="600px"></canvas>
										</div>
										<div id="devices_online_stats"></div>
									</div>
								</div>
							</div>
							<!-- /Device stats -->

				

						</div>
					<!-- /Devices Div -->


					<!-- Test Runs Div -->
						<div class="col-lg-6">

							<!-- Tests Synopsis Row -->
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-white">
										<div class="panel-heading"><h6>Test Runs &nbsp; <span class="label label-primary">9.6% Current Active</span></h6>
											<div class="heading-elements">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="icon-calendar22"></i></span>
														<input type="text" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015"> 
													</div>
												</div>
											</div>
										</div>

										<div class="panel-body">
											
											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-teal-400">
													<div class="panel-body">
														<h3 class="no-margin">45</h3>
														<div class="text-muted text-size-small">New Test Plans</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>

											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-primary-400">
													<div class="panel-body">
														<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">19.4%</span>
														</div>

														<h3 class="no-margin">8</h3>
														<div class="text-muted text-size-small">New Test Runs</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>


											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-indigo-400">
													<div class="panel-body">
														<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">3%</span>
														</div>

														<h3 class="no-margin">2</h3>
														<div class="text-muted text-size-small">Currently Active</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>



										</div>
									</div>
								</div>
							</div>
							<!-- /Tests Synopsis Row -->


							<!-- Test stats -->
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Test Plan Execution Status</h6>
											<div class="heading-elements">
												<!-- <form class="heading-form" action="#"> -->
													<div class="form-group">
														<!-- <select class="change-date select-sm" id="select_date_test">
															<optgroup label="<i class='icon-watch pull-right'></i> Time period">
																<option value="val1">June, 29 - July, 5</option>
																<option value="val2">June, 22 - June 28</option>
																<option value="val3" selected="selected">June, 15 - June, 21</option>
																<option value="val4">June, 8 - June, 14</option>
															</optgroup>
														</select> -->
										<!-- <div style="float:right;position:relative;top:-25px;"> -->
										<div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
											<span class="input-group-addon"><i class="icon-calendar22"></i></span>
											<input class="form-control" id="dat" type="text" readonly style="width:100px;" />
											
										</div>
									<!-- </div> -->
													</div>
												<!-- </form> -->
						           </div>
										</div>
<!-- 
										<div class="container-fluid">
											<div class="row text-center">
												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus2 position-left text-slate"></i>23</h5>
														<span class="text-muted text-size-small">Test Plans This Week</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus position-left text-slate"></i> 68</h5>
														<span class="text-muted text-size-small">Test Plans This Month</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-wave position-left text-slate"></i>11</h5>
														<span class="text-muted text-size-small">Tests Run</span>
													</div>
												</div>
											</div>
										</div> -->

										<div class="content-group-sm" id="test_plans_lines"></div>
										<div id="chart_div" style="height:314px;"></div>
									</div>
								</div>
							</div>
							<!-- /Test stats -->

							

						</div>
					<!-- /Test Runs Div -->


					</div>
				</div>
					<div class="row">
					<div class="col-lg-12">
					<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Map</h5>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
					<!-- 	<p class="content-group">
						A <code>geochart</code> is a map of a country, a continent, or a region with areas identified in one of three ways: <span class="text-semibold">region</span> mode, <span class="text-semibold">markers</span>
						 mode and <span class="text-semibold">text</span> mode. A geochart is rendered within the browser using
						  <code>SVG</code> or <code>VML</code>. Note that the geochart is not scrollable or draggable, and it's a
						   line drawing rather than a terrain map. The <code>regions</code> style 
						   fills entire regions (typically countries) with colors corresponding to the values that you assign.
						   </p> -->

					
							<div class="map-container" id="Map"></div>
						
					</div>
				</div>
				</div></div>
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->



		<!-- footer  -->
		<div ng-include="'app/views/footer/footer.html'"></div>
		<!-- /footer  -->

	</div>
	<!-- /page container -->


