<style>
.icons-list li .live, .icons-list li .replay{
margin:5px;
padding:4px 8px;
}
.map-popup .form-group{
	margin:10px 0;
}
#devicesel .select2-selection {
width: 100%; margin-left: 0px; margin-top: -13px; margin-bottom: -23px;
}
#devicesel .select2-container--open .select2-dropdown{
left:-5px !important;}
.angularjs-datetime-picker{
z-index: 1002;
}
.vertical{
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: left top 0;
    float: left;
    position: absolute;
    top: 50%;
    left: 2%;
}
.devices-graph{
	margin-left:20px;
}
</style>


<!-- Header Start -->
	<div ng-include="'app/views/header/header.html'"></div>
	<!-- Header End -->
	<!-- Second navbar -->
	<div ng-include="'app/views/menus/menu.html'"></div>
	<!-- /second navbar -->



	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<!-- <span class="text-semibold">Home</span> - Dashboard -->
					<small class="display-block">Welcome, {{name | capitalize}}</small>
				</h4>
			</div>

			<!-- <div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-hash text-primary"></i><span>Videos</span></a>
				</div>
			</div> -->
		</div>
	</div>
	
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">
				<div class="row">
					<div class="col-lg-12">
						
					<!-- Devices Div -->
						<div class="col-lg-6">

							<!-- Device Synopsis Row -->
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-white">
										<div class="panel-heading"><h6>Devices  &nbsp;  <span class="label label-primary">{{activeDeviceCountPer}}% Current Active</span></h6> 
											<div class="heading-elements">
											
												<!-- <div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="icon-calendar22"></i></span>
														<input type="text" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015"> 
													</div>
												</div> -->
											</div>
										</div>

										<div class="panel-body">
											
											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-teal-400">
													<div class="panel-body">
														<h3 class="no-margin">{{registeredDeviceCount}}</h3>
														<div class="text-muted text-size-small">Registered Devices</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>

											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-primary-400">
													<div class="panel-body">
														<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">{{approvedDeviceCountPer}}%</span>
														</div>

														<h3 class="no-margin">{{approvedDeviceCount}}</h3>
														<div class="text-muted text-size-small"> Licensed Devices</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>


											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-indigo-400">
													<div class="panel-body">
														<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">{{availableDeviceCountPer}}%</span>
														</div>

														<h3 class="no-margin">{{availableDeviceCount}}</h3>
														<div class="text-muted text-size-small">New Available Devices</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>



										</div>
									</div>
								</div>
							</div>
							<!-- /Device Synopsis Row -->

							<!-- Device stats -->
							<div class="row">
								<div class="col-lg-12">									
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Device Usage</h6>
								 			<div class="heading-elements">
								 				<div class="status_graph text-capitalize"> <!-- pull-right -->
											<span><em></em> Active</span>
											<span><em></em> Idle</span>
										</div>
										<!-- 		<form class="heading-form" action="#">
													<div class="form-group">
														<select class="change-date select-sm" id="select_date">
															<optgroup label="<i class='icon-watch pull-right'></i> Time period">
																<option value="val1">June, 29 - July, 5</option>
																<option value="val2">June, 22 - June 28</option>
																<option value="val3" selected="selected">June, 15 - June, 21</option>
																<option value="val4">June, 8 - June, 14</option>
															</optgroup>
														</select>
													</div>
												</form> -->
						           </div> 
										</div>

							<!-- 			<div class="container-fluid">
											<div class="row text-center">
												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus2 position-left text-slate"></i>56</h5>
														<span class="text-muted text-size-small">Registrations This Week</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus position-left text-slate"></i> 328</h5>
														<span class="text-muted text-size-small">Registrations This Month</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-wave position-left text-slate"></i>234</h5>
														<span class="text-muted text-size-small">Devices Touched</span>
													</div>
												</div>
											</div>
										</div> -->
										
										<div class="content-group-sm" >
											<span class="device_graph_text vertical"># of Devices</span>
											<div class="devices-graph">
												<canvas id="canvas" height="270px" width="600px"></canvas>
											</div>
										</div>
										<div id="devices_online_stats"></div>
									</div>
								</div>
							</div>
							<!-- /Device stats -->

				

						</div>
					<!-- /Devices Div -->


					<!-- Test Runs Div -->
						<div class="col-lg-6">

							<!-- Tests Synopsis Row -->
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-white">
										<div class="panel-heading"><h6>Test Runs &nbsp;  <!-- <span class="label label-primary">9.6% Current Active</span> --> </h6>
											<div class="heading-elements">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="icon-calendar22"></i></span>
														<input id="testRunDate" type="text" readonly="readonly" class="form-control daterange-basic" value="01/01/2015 - 01/31/2015"> 
													</div>
												</div>
											</div>
										</div>

										<div class="panel-body">
											
											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-teal-400">
													<div class="panel-body">
														<h3 class="no-margin">{{totalTestPlanCount}}</h3>
														<div class="text-muted text-size-small">New Test Plans</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>

											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-primary-400">
													<div class="panel-body">
													<!-- 	<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">19.4%</span>
														</div> -->

														<h3 class="no-margin">{{totalTestRunCount}}</h3>
														<div class="text-muted text-size-small">New Test Runs</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>


											<div class="col-lg-4">

												<!-- Members online -->
												<div class="panel bg-indigo-400">
													<div class="panel-body">
													<!-- 	<div class="heading-elements">
															<span class="heading-text badge bg-teal-800">3%</span>
														</div> -->

														<h3 class="no-margin">{{totalActiveTestRunCount}}</h3>
														<div class="text-muted text-size-small">Currently Active</div>
													</div>

													<div class="container-fluid">
														<div id="members-online"></div>
													</div>
												</div>
												<!-- /members online -->
											</div>



										</div>
									</div>
								</div>
							</div>
							<!-- /Tests Synopsis Row -->


							<!-- Test stats -->
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Test Plan Execution Status</h6>
											<div class="heading-elements">
												<!-- <form class="heading-form" action="#"> -->
													<div class="form-group">
														<!-- <select class="change-date select-sm" id="select_date_test">
															<optgroup label="<i class='icon-watch pull-right'></i> Time period">
																<option value="val1">June, 29 - July, 5</option>
																<option value="val2">June, 22 - June 28</option>
																<option value="val3" selected="selected">June, 15 - June, 21</option>
																<option value="val4">June, 8 - June, 14</option>
															</optgroup>
														</select> -->
										<!-- <div style="float:right;position:relative;top:-25px;"> -->
										<div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
											<span class="input-group-addon"><i class="icon-calendar22"></i></span>
											<input class="form-control" id="dat" type="text" readonly style="width:100px;" />
											
										</div>
									<!-- </div> -->
													</div>
												<!-- </form> -->
						           </div>
										</div>
<!-- 
										<div class="container-fluid">
											<div class="row text-center">
												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus2 position-left text-slate"></i>23</h5>
														<span class="text-muted text-size-small">Test Plans This Week</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-plus position-left text-slate"></i> 68</h5>
														<span class="text-muted text-size-small">Test Plans This Month</span>
													</div>
												</div>

												<div class="col-md-4">
													<div class="content-group">
														<h5 class="text-semibold no-margin"><i class="icon-phone-wave position-left text-slate"></i>11</h5>
														<span class="text-muted text-size-small">Tests Run</span>
													</div>
												</div>
											</div>
										</div> -->

										<div class="content-group-sm" id="test_plans_lines"></div>
										<div id="chart_div" style="height:314px;"></div>
									</div>
								</div>
							</div>
							<!-- /Test stats -->

							

						</div>
					<!-- /Test Runs Div -->


					</div>
				</div>
					<div class="row">
					<div class="col-lg-12">
					<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Map</h5>
						<div class="heading-elements">
							<ul class="icons-list map-popup">
								<li class="pointer-link live"><span class="label label-info">Live</span></li>
		                		<li class="dropdown replay">
							    <a class="dropdown-toggle pointer-link" data-toggle="dropdown" aria-expanded="true"><span class="label label-info ">Replay <span class="caret" style="margin:0; padding:0;"></span	></span></a>
							
							    
                			<div class="dropdown-menu " style="width:250px; padding: 10px 15px; absolute;top: 30px; left: -190px;">
						<form name="customerform">
							<div class="row">

							<div id="devicesel" class="col-sm-12 form-group">
							<label>Devices:</label> <select id="deviceId" name="deviceId" class="select" style="">
							<option ng-repeat="device in DeviceList"
										ng-selected="device.selected" ng-model="device.deviceId">{{device.deviceId}}</option>
							</select>
							</div>
						<div class="col-sm-12 form-group">
								<label>From: </label>
								<div class="input-group date ">
									 <span class="input-group-addon">
										<span class="icon-calendar22"></span>
									</span>
									<input id="fromDate" name="fromDate" ng-model="fromDate" class="form-control" style="height: 37px;" datetime-picker="" date-format="MM/dd/yyyy HH:mm"> 
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<label>To: </label>
								<div class="input-group date ">
								 <span class="input-group-addon">
										<span class="icon-calendar22"></span>
									</span>
									<input id="toDate" name="toDate" ng-model="toDate" class="form-control" style="height: 37px;" datetime-picker="" date-format="MM/dd/yyyy HH:mm"> 
									
								</div>
							</div>
					
										
							<div class="col-sm-12 form-group text-center">
									<input id="device_av_btn" class="btn btn-success btn-sm" type="submit" ng-click="showReplayMap();" value="Replay Map">
							</div> 
							
								
							</div>
						</form>
					</div>
					</li>
		                		
		               
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
					
					<div class="map-container" id="Map"></div>
						
					</div>
					
					<div class="panel-body" id="rePlayMap_container" style="display:none;">
					
					<div class="map-container" id="rePlayMap"></div>
						
					</div>
				</div>
				</div></div>
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->



		<!-- footer  -->
		<div ng-include="'app/views/footer/footer.html'"></div>
		<!-- /footer  -->

	</div>
	<!-- /page container -->


<script> 
$(function () {
$('.select').select2(
		/* {
    minimumResultsForSearch: Infinity
} */
);
});
</script>