<style>
.pd {
	padding: 5px;
}
select {
	    border: 1px solid #ddd;
}
#headd {
	text-align: center;
}
.grid1484207901843 .ui-grid-render-container-body .ui-grid-viewport {
	width:100% !important;
}

#webETLSchedulerMappingGrid {
	overflow-y: hidden; 
    overflow-x: hidden;
}
.mrg > div:nth-child(even) {
	position:relative; left:25%;
}
@media screen and (max-width: 1300px) {
	.mrg > div:nth-child(even){ position:relative; left:15%;}
	.mrg > div:nth-child(odd){ position:relative; left:15%;}
}
@media screen and (max-width: 1030px) {
	.mrg > div:nth-child(even){ position:relative; left:2%;}
	.mrg > div:nth-child(odd){ position:relative; left:2%;}
}
@media screen and (max-width: 1030px) {
	.mrg > div:nth-child(even){ position:relative; left:0%;}
	.mrg > div:nth-child(odd){ position:relative; left:0%;}
	
}
.col-md-3 {
	width:15%;
	}
.ui-grid-cell-contents {
	text-align:center;
}

#blankclassBeginDiv  {
	position: absolute;
	z-index:1 ;
	/* display:none; */
}
#blankclassEndDiv  {
	position: absolute;
	z-index:1 ;
	/* display:none; */
}
#blankclassscheduleDateDiv  {
	position: absolute;
	z-index:1 ;
	/* display:none; */
}




</style>
<script>

</script>
<div ng-include="'app/views/header/header.html'"></div>
<div ng-include="'app/views/menus/menu.html'"></div>
<div class="page-container ng-scope">
<div class="page-content">
<div class="content-wrapper">
<div class="row">
		
<div class=" col-md-12 mrg" >
		<h1 id="headd">Select ETL Parameters</h1>
			<div ng-repeat="obj in etlParameterList track by $index" class="col-md-6 col-sm-6 col-xs-12">
				<div ng-if="obj.paramType == 'drop_down'">
					<div class="col-md-3 col-sm-3 col-xs-3 pd" ><span>{{obj.paramName}}</span></div>
					<div class="col-md-9 col-sm-9 col-xs-9 pd">
						<select name="{{obj.paramName}}" id="{{$index}}" style="width:172px; height: 27px;"><option ng-repeat="option in obj.paramValues" value="{{option}}">{{option}}</option></select>
					</div>
				</div>
				<div ng-if="obj.paramType == 'date'" >
		        	<div class="col-md-3 col-sm-3 col-xs-3 pd"><span>{{obj.paramName}}</span></div>
		        	<div class="col-md-9 col-sm-9 col-xs-9 date pd">
			        	<div ng-if="obj.paramName == 'beginDate'" >
			        		<input type="text" style="width:172px; height: 27px; border-radius:0px;" ng-model="cmks" id="{{$index}}" name="{{obj.paramName}}"
			        			class="blankclassBegin" ng-click="callBeginCalender()" >
			        			<div id="blankclassBeginDiv" ></div>
			        	</div>
			        	<div ng-if="obj.paramName == 'endDate'" >
							<input type="text" style="width:172px; height: 27px; border-radius:0px;" ng-model="cmks" id="{{$index}}" name="{{obj.paramName}}"
			        			class="blankclassend" ng-click="callEndCalender()" >
			        		<div id="blankclassEndDiv" ></div>
			        	</div>
					</div>
						
				</div>
			</div>
			<!-- <div>
				<div>
					<span>Scheduler Type</span>
					<select>
						<option value="-1">Select Type</option>
						<option value="0">On Demand ETL</option>
						<option value="1">Periodic ETL</option>
						<option value="2">Rolling ETL</option>
					</select>
					<span>ETL Running Interval</span>
					<select>
						<option value="-1">Select</option>
						<option value="15">15 Mins</option>
						<option value="30" selected="selected" >30 Mins</option>
						<option value="45">45 Mins</option>
						<option value="60">60 Mins</option>
					</select>
					
					<span>ETL Running Overlap Time</span>
					<input type="text" value="5" name="OverlapTime" placeholder="5" >Mins
				</div>
			
			</div>-->
			</div>

		</div>
		<center>
		<div class="input-group date col-md-12 text-center">
			
				<div style="display: inline-block; border: 1px solid #ccc; padding: 10px; margin:30px 0 10px 0;width:371px"><span style="padding-right: 10%;">Schedule Date and Time </span>
				<input id="scheduleDate" style="width:172px; height: 27px;" name="scheduleDate" ng-model="scheduleDate" class="sche" ng-click="callscheduleDateCalender()">
					<div id="blankclassscheduleDateDiv"></div>
				</div>
		</div>
		</center>
		<img id="dataLoadingUpdate" class="loading loading-imgac" src="images/loading_new.gif"
				style = "width:50px;height:50px;display:none;position: absolute;margin-left:48%;z-index: 1"></img>
		<div class="col-md-12 text-center" style="margin-bottom:20px;"><button id="submitbtn" class="btn btn-primary">Submit</button></div>
		<br><br>
		<center>
			<div id="webETLSchedulerMappingGrid" ui-grid="webETLSchedulerMappingGrid" 
					 style="width:79%;text-align: center;" class="table table-hover grid"  >
			</div>
		</center>
	</div>
</div>
</div>

</div>

<div ng-include="'app/views/footer/footer.html'"></div>