<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Orchestra Tech - Intelliagent</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->


	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>




	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/anytime.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.time.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/legacy.js"></script>


	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	


	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>



	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/form_select2.js"></script>
	<script type="text/javascript" src="assets/js/pages/picker_date.js"></script>


	<script type="text/javascript" src="assets/js/maps/google/layers/fusion_tables.js"></script>
	




	<!-- /theme JS files -->
	
	
	<!-- includes HTML -->
	<script src="http://www.w3schools.com/lib/w3data.js"></script>

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar bg-white border-bottom-primary-300" style='height: 50px;'>
	  <div class="navbar-header">
	    <a href="index.html"><img src='assets/images/logo.png'></img></a>

	    <ul class="nav navbar-nav pull-right visible-xs-block">
	      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
	    </ul>
	  </div>

	</div>
	<!-- /main navbar -->

	<!-- Second navbar -->
	<div w3-include-html="menus/_level_two.html"></div>
	<!-- /second navbar -->


	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<span class="text-semibold">Heat</span> - maps
				</h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-hash text-primary"></i><span>Videos</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Secondary sidebar -->
			<div class="sidebar sidebar-secondary sidebar-default">
				<div class="sidebar-content">

					<!-- Title -->
					<div class="category-title h6">
						<span>Dashboard Configurator</span>
						<ul class="icons-list">
							<li><a href="#"><i class="icon-gear"></i></a></li>
						</ul>
					</div>
					<!-- /title -->


					<!-- Sidebar search -->
					<div class="sidebar-category">
						<div class="category-content">

							<!-- /heat maps form -->
						
							<div id='heat_maps_form'>

								<form action="#">


									<div class="form-group">
										<label>Markets</label>
										<select class="select" id='networking_view_selector'>
											<option value="heat_maps">Dallas</option>
											<option value="device_view">Plano</option>
											<option value="summary_view">Houston</option>
											<option value="timeline_view">Austin</option>
										</select>
									</div>

									<div class="form-group">
										<label>Device</label>
										<select class="select">
											<option value="AZ">Device List</option>
										</select>
									</div>
									<div class="form-group">
										<label>Category</label>
										<select class="select">
											<option value="AZ">Cell ID</option>
											<option value="CO">CQI</option>
											<option value="ID">FTP Download</option>
											<option value="WY">FTP Upload</option>
											<option value="WY">Handover</option>
											<option value="WY">HTTP Download</option>
											<option value="WY">HTTP Upload</option>
											<option value="WY">Lost IP</option>
											<option value="WY">Network Latency</option>
											<option value="WY">Signal Quality</option>
											<option value="WY">Signal Strength</option>
										</select>
									</div>

									<div class="form-group">
										<label>Display time picker: </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar22"></i></span>
											<input type="text" class="form-control daterange-time" value="03/18/2013 - 03/23/2013"> 
										</div>
									</div>


									<div class="form-group">
										<div class="checkbox checkbox-switchery switchery-sm col-lg-6">
										<label>
											<input type="checkbox" class="switchery" checked="checked">
											3G
										</label>
									</div>

									<div class="checkbox checkbox-switchery switchery-sm col-lg-6">
										<label>
											<input type="checkbox" class="switchery">
											4G
										</label>
									</div>

									<hr />

									<div class="checkbox checkbox-switchery switchery-sm  col-lg-12">
										<label>
											<input type="checkbox" class="switchery" checked="checked">
											Indoor
										</label>
									</div>

									<div class="checkbox checkbox-switchery switchery-sm  col-lg-12">
										<label>
											<input type="checkbox" class="switchery">
											Network / GPS
										</label>
									</div>

									</div>

									<div style='margin-top: 90px;'>
										<button type="submit" class="btn bg-primary">Run Report</button>
									</div>

								</form>
							</div>
							<!-- /End of heat maps form -->
						</div>
					</div>
					<!-- /sidebar search -->


					


				</div>
			</div>
			<!-- /secondary sidebar -->



			<!-- Main content -->
			<div class="content-wrapper">

				<!-- main area -->

				<!-- Circle shapes -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Heat Maps</h5>
						<div class="heading-elements">
							<ul class="icons-list">
	          		<li><a data-action="collapse"></a></li>
	          		<li><a data-action="reload"></a></li>
	          		<li><a data-action="close"></a></li>
	          	</ul>
	        	</div>
					</div>

					<div class="panel-body">
						<div class="map-container map-layer-fusion-tables"></div>
					</div>
				</div>
				<!-- /circle shapes -->


				<!-- /main area -->





			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->


		<!-- Footer -->
		<div class="footer text-muted">
			&copy; 2015. <a href="#">Sparkplug</a> powered by <a href="http://powermatrix.energy" target="_blank">Powermatrix</a>
		</div>
		<!-- /footer -->

	</div>
	<!-- /page container -->

</body>
</html>


<script type="text/javascript">
	$(document).ready(function() {
		 w3IncludeHTML();		


		 $("#networking_view_selector").change(function() {
		 	var view_selected = $(this).val();
		 	if (view_selected === 'heat_maps'){
		 		$("#heat_maps_form").show();
		 		$("#device_view_form").hide();
		 		$("#summary_view_form").hide();
		 		$("#timeline_form").hide();
		 	}
		 	else if (view_selected === 'heat_maps'){
		 		$("#heat_maps_form").show();
		 		$("#device_view_form").hide();
		 		$("#summary_view_form").hide();
		 		$("#timeline_form").hide();
		 	}
		 	else if (view_selected === 'device_view'){
		 		$("#heat_maps_form").hide();
		 		$("#device_view_form").show();
		 		$("#summary_view_form").hide();
		 		$("#timeline_form").hide();
		 	}
		 	else if (view_selected === 'summary_view'){
		 		$("#heat_maps_form").hide();
		 		$("#device_view_form").hide();
		 		$("#summary_view_form").show();
		 		$("#timeline_form").hide();
		 	}
		 	else if (view_selected === 'timeline_view'){
		 		$("#heat_maps_form").hide();
		 		$("#device_view_form").hide();
		 		$("#summary_view_form").hide();
		 		$("#timeline_form").show();
		 	}
		 	else {
		 		$("#timeline_form").hide();
		 		$("#device_view_form").hide();
		 		$("#summary_view_form").hide();
		 		$("#timeline_form").hide();	
		 	}
		 });




	});

</script>