
<style type="text/css">
		
		.white{
		  background-color: #EEF4F9;
		  margin: 0 auto;
		  padding:10px 10px;
		  width: 25%;
		  border-radius: 10px 10px 0 0;

		}
		.blue{
		  background-color: #0463BC;
		  margin: 0 auto;
		  padding:25px 30px 5px 30px;
		  width: 25%;
		  height: 230px;
		  border-radius: 0 0 10px 10px;
		}
		.blue input{
		  border:1px solid #fff;
		  background-color: transparent;
		  color: #fff;
		}
		.user-input {width: 100%; height: 20%;}
		.user-input > div{ width: 20%; float: left; margin: 10px 0 ; padding: 5px;}
		.user-input > input{ width: 80%;  float: left; margin: 10px 0 0px 0;}

		.pass-input {width: 100%; height: 20%;}
		.pass-input > div{ width: 20%; float: left; margin: 15px 0; padding: 5px 0;}
		.pass-input > input{ width: 80%;  float: left; margin: 15px 0 0px 0;}

		.login-detail{
		  border-radius: 10px;
		  padding-top: 15%;
		}
		.login-btn{
			color: #EEF4F9;
			font-size: 21px;
			font-weight: bold;
			margin-top: 10px;
			padding-left: 40px;}
			
		.error-color{
			color: #faffbd;
		}
		button[disabled="disabled"] { 
		    cursor:not-allowed;
		}
		/* @media screen and (min-width: 480px) and (max-width: 1280px){
		    .white{
				  
				  
				  width: 100%;
				 
		
				}
				.blue{
				 
				 
				  width: 100%;
				 
				}
		} */
	</style>

	<!-- Main navbar -->
	<!-- <div class="navbar bg-white border-bottom-primary-300" style='height: 50px;'>
	  <div class="navbar-header">
	    <a href="index.html"><img src='assets/images/logo.png'></img></a>

	    <ul class="nav navbar-nav pull-right visible-xs-block">
	      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
	    </ul>
	  </div>

	</div> -->
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container login-container"  >

		<!-- Page content -->
		<!-- <div class="page-content">

			Main content
			<div class="content-wrapper">

				Advanced login
				<form ng-submit="login()" name="form" role="form">
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>
							<h5 class="content-group-lg">Login to your account <small class="display-block">Enter your credentials</small></h5>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" id='username' required>
							<span style="color:red" ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
							<div class="form-control-feedback">
								<i class="icon-user text-muted"></i>
							</div>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" id='password' required>
							<span  style="color:red" ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn bg-blue btn-block" id='login_submit'>Login <i class="icon-circle-right2 position-right"></i></button>
						</div>

						<div id='login_error_message' style='color: red;'>{{error}}</div>
						<div id='inside_link' style='display:none;'><a href='orch_admin.html' >Orchestra Admin</a> / <a href='cust_admin.html'>Cust Admin.</a> / <a href='cust_exec.html'>Cust Exec.</a></div>
					</div>
				</form>
				/advanced login

			</div>
			/main content

		</div> -->
		
		
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Advanced login -->
				<form ng-submit="login()" name="form" role="form">
				<div class="login-detail">
					<div class="white text-center">
						<img src="assets/images/logo-login.png">
						<div id='login_error_message' class="error-color" style="color:#d84315;">{{error}}</div>
					</div>
					<div class="blue">
						<div class="form-group user-input">
							<div>
								<img src="assets/images/user.png">
							</div>
							<input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" id='username' required>
							<span class="error-color" ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
							
						</div>

						<div class="form-group pass-input">
							<div>
								<img src="assets/images/lock.png">
							</div>
							<input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" id='password' required>
							<span  class="error-color" ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
							
						</div>
						<div class="form-group text-center">
							<button type="submit" ng-disabled="form.$invalid || dataLoading" class="text-center login-btn" id='login_submit' style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; margin-top: 10px;padding-left:0px;">
							Login	<img src="assets/images/enter.png">
							
							</button>
							
						</div>

					</div>
				</div>
					
				</form>
				<!-- /advanced login -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->
		
		<!-- footer  -->
		<div ng-include="'app/views/footer/footer.html'"></div>
		<!-- /footer  -->
	</div>
	<!-- /page container -->
	<script>
	$(document).ready(function() {
		$("body").css({'background': 'rgba(0, 0, 0, 0) url("assets/images/loginbg.png") no-repeat', 'background-size':'cover'});
	
	});
	</script>






