<style>
.ui-grid-sort-priority-number {
font-size:0;
}

.ui-grid-cell-contents {
    text-align: left;
	}
.ui-grid-header-cell-wrapper{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table-responsive {
    overflow-x: visible;
}


.ui-grid-render-container{
		width: 100%; 
}

.ui-grid-pager-panel
{
position: inherit; 
  padding-top: 20px;
}
 
/*  .ui-grid-viewport{
 min-height: 100%;
height: auto!important;
 } */

</style>
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer">
		<div class="maincontent">
			<div class="container-fluid">
				<div class="ot-deviceData devicedata-height" style="background-color: #fff;margin: 0 auto 4px;">
				
					<div class="tab-content">
					  <div id="devices" class="tab-pane fade in active" style="background-color: #fff;">
						<div class="orchestra_devices_table" style="background-color: #fff; width:100%;  ">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="table-header" >
									<p style="color:#57bdde;">Devices</p>
									<div class="clearfix"></div>
							</div>
								
								 <div class="panel-body">
									<div class="table-responsive">
										 <table class="table table-striped table-bordered table-hover grid" id="dataTables-example"  ui-grid="myDevicesGridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning >
										 <img class="loading" src="images/loading.gif"  ng-show="dataLoading"></img>
											<div style ="position: fixed; margin: auto;margin-left: 500px;margin-top: -500px;color:red;font-size:35px;" ng-show ="err"> No Data Found </div>
										 </table>
									</div>
									
									
									<div class="col-sm-6">
									<div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing {{itemsPerPage*currentPage}} to {{endLimit}} of {{totalRecords}} entries</div>
									</div>
<div class="col-sm-6">
										<div   class="pagination-div">
										  <ul class="pagination">
											<li ng-class="DisablePrevPage()">
											  <a href ng-click="prevPage()">« Prev</a>
											</li>
											<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
											  <a href="">{{n+1}}</a>
											</li>
											<li ng-class="DisableNextPage()">
											  <a href ng-click="nextPage()">Next »</a>
											</li>
										  </ul>
										</div>
									</div>	
									</div>
							</div>
						</div>
					</div>
				  </div>
				 
				</div>				
				</div>
					<!--<div ng-include="'app/views/favourites.html'"></div>-->
					
			</div>
		</div>
	</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>
	<div class="footer-div">
	 <div ng-include="'app/views/footer.html'"></div>
	 </div>
<script>

 function setEqualHeight(e) {
	// alert("sdf");
     var t = e.height();
   //  e.each(function () {
         currentHeight = $( window ).height();
       // alert("t:"+t+"currentHeight"+currentHeight)
         if (currentHeight > t) {
        	 
             t = currentHeight
         }
   //  });
     $(".devicedata-height").height(currentHeight-158);
   
 }
 $(window).resize(function () {
	
	    setEqualHeight( $('.ui-grid-viewport') );
	});
 $(document).ready(function () {
     setEqualHeight($(".ui-grid-viewport"))
 })
</script>