<style>
    .pd {
        padding: 5px;
    }

    select {
        border: 1px solid #ddd;
        width: 172px;
        height: 27px;
    }

    #headd {
        text-align: center;
    }

    .grid1484207901843 .ui-grid-render-container-body .ui-grid-viewport {
        width: 100% !important;
    }

    #webETLSchedulerMappingGrid {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .mrg > div:nth-child(even) {
        position: relative;
        left: 25%;
    }

    @media screen and (max-width: 1300px) {
        .mrg > div:nth-child(even) {
            position: relative;
            left: 15%;
        }

        .mrg > div:nth-child(odd) {
            position: relative;
            left: 15%;
        }
    }

    @media screen and (max-width: 1030px) {
        .mrg > div:nth-child(even) {
            position: relative;
            left: 2%;
        }

        .mrg > div:nth-child(odd) {
            position: relative;
            left: 2%;
        }
    }

    @media screen and (max-width: 1030px) {
        .mrg > div:nth-child(even) {
            position: relative;
            left: 0%;
        }

        .mrg > div:nth-child(odd) {
            position: relative;
            left: 0%;
        }
    }
    .grid-align {
        text-align: center;
    }
    .col-md-3 {
        width: 15%;
    }

    .ui-grid-cell-contents {
        text-align: center;
    }

    #blankclassBeginDiv {
        position: absolute;
        z-index: 1;
    }

    #blankclassEndDiv {
        position: absolute;
        z-index: 1;
    }

    #blankclassscheduleDateDiv {
        position: absolute;
        z-index: 1;
    }

    #blankclassExpiryDiv {
        position: absolute;
        z-index: 1;
    }

    .datefields {
        width: 172px;
        height: 27px;
        border-radius: 0px;
    }

    .textinput {
        border: 1px solid #ccc;
        width: 172px;
        height: 27px;
        border-radius: 0px;
    }

    .myGrid {
        height: 450px;
    }

    #reportConfigGridOptions .ui-grid-viewport {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch
    }
</style>
<script>

</script>
<div ng-include="'app/views/header/header.html'"></div>
<div ng-include="'app/views/menus/menu.html'"></div>
<div class="page-container ng-scope">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="row">
                <div class="panel panel-white">
                    <div class='panel-body'>
                        <div class="row">
                            <div class="form-group col-sm-3" style="padding-left:0px;">
                                <label class="text-semibold">Category</label>
                                <select id="category" class="form-control select" style="width:250px;">
                                    <option ng-repeat="(id,val) in devices" value="{{id}}">{{val}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-9" style="text-align: right">
                                <div style="padding-left: 30px;">
                                    <button type="button" id="addRow" class="btn btn-success" ng-click="openModal()">Add
                                        Row
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="datatable-header">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter"
                                 style="padding-top:5px !important;"><label><span>Filter:</span>
                                <input type="type" class="" ng-change="singleFilterForDM()" ng-model="searchText"
                                       placeholder="Type to filter..."></label></div>
                        </div>
                        <div class="table table-hover datatable-highlight myGrid" id="reportConfigGridOptions"
                             ui-grid="reportConfigGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-selection
                             ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning>
                            <div class="error loadingErrMsg" ng-show="err"> Error</div>
                        </div>
                        <br/>
                        <strong ng-show="msg.lastCellEdited">Last Edit:</strong> {{msg.lastCellEdited}}
                        <br/>
                        <img id="dataLoadingDM" class="loading loading-imgac" src="images/loading_new.gif"
                             style="display: none;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="editTableModal.html">
        <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-table fa-lg" aria-hidden="true"></i> {{modal.title}}</h3>
        </div>
        <div class="modal-body">
            <form  id="addRowForm" class="form-horizontal" role="form">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group" ng-repeat="field in modal.fields" ng-if="!field.modalHidden"
                         style="margin-bottom:4px;">
                        <label class="col-sm-3 control-label">{{field.displayName}}</label>
                        <div class="col-sm-9">
                            <input type="text" id="{{field.field}}" name="{{field.field}}" placeholder="{{field.displayName}}" class="form-control input-sm">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">Save Data</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="delPopup.html">
        <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-remove fa-lg" aria-hidden="true"></i> Delete Row ?</h3>
        </div>
        <div class="modal-body">
            Are you really sure you want to do delete this?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="delRow(modal.row)">Delete</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>


<div ng-include="'app/views/footer/footer.html'"></div>