<link rel="stylesheet" href="css/templete/ui-grid.min.css" type="text/css" />
	<link rel="stylesheet" href="css/templete/app.css"/>
<style>
.ui-grid-sort-priority-number {
font-size:0;
}

.ui-grid-cell-contents {
    text-align: left;
	}
.ui-grid-header-cell-wrapper{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table-responsive {
    overflow-x: visible;
}


/* .ui-grid-render-container{
		width: 100%; 
} */

.ui-grid-header-viewport {
    width: 100%;
}

.ui-grid-pager-panel
{
position: inherit; 
  padding-top: 20px;
}
#thirdGrid .ui-grid-viewport{

height: 300px!important;
 } 
#secondGrid .ui-grid-viewport{

height: 150px!important;
 } 

</style>
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer main-cont-height" style="font-family: Source Sans Pro,sans-serif!important;background-color:#f5f7fa;overflow:hidden;">
		<div class="maincontent">
			<div class="container-fluid">
				<div id="exTab2" style="width:100%;" class="container">
								  <ul class="nav nav-tabs">
								    <li >
								      <a  ng-click="selectTab('Test Plan')" data-toggle="tab">Test Plan</a>
								    </li>
								    <li class="active"><a ng-click="selectTab('Test Run')" data-toggle="tab">Test Run</a>
								    </li>
								  </ul>
								  <div class="table-header" style="background-color: #f5f7fa;">
								<div class="btn-align">
			
									<div class="form-group"
										style="padding: 0px; margin: 0px; width: 50%; float: right; margin-top: -38px;">
										<button type="button" class="btn btn-labeled btn-success"
											ng-click="createTestPlan();">
											<span class="btn-label"><em class="fa fa-plus"></em></span> Add
											Test Plan
										</button>
									</div>
			
								</div>
								<div class="clearfix"></div>
							</div>
								
								  <div class="tab-content" style="padding:20px;">
								    <div class="tab-pane active" >
								    <div class="row">
								      <div id="thirdGrid" ui-grid="ScheduleVirtualDevices" ui-grid-selection ui-grid-cellNav class="table-uigrid  grid" >
											<img class="loading" src="images/loading.gif"  ng-show="dataLoading"></img>
											<div class ="loadingErr" ng-show ="err"> No Data Found </div>
											<img class="loading" src="images/please_wait.gif"  ng-show="dataProcessing"></img>
											</div>
											<div id="secondGrid" ui-grid="ScheduleRealDevices" ui-grid-selection ui-grid-cellNav class="table-uigrid  grid" style="height: 224px!important;">
											<img class="loading" src="images/loading.gif"  ng-show="dataLoading1"></img>
											<div class ="loadingErr" ng-show ="err"> No Data Found </div>
											<img class="loading" src="images/please_wait.gif"  ng-show="dataProcessing"></img>
											</div>
											<div style="width:100%;height:50px;margin-top: 15px; " align="right">
											   <input type="button"  name="button" ng-click="startJob()" value="Start" class="btn btn-info"/>
												<input type="button"  name="button" ng-click="stopJob()" value="Stop" class="btn btn-info"/>
												<input type="button"  name="button" ng-click="reStartJob()" value="Re-start" class="btn btn-info"/>
												<!-- <input type="button"  name="button" ng-click="getJobStatus()" value="Get Status" class="btn btn-info"/>
												<input type="button"  name="button" ng-click="reStartIAC()" value="Re-start IAC" class="btn btn-info"/> -->
											</div>
											</div>
								    </div>
							  </div>
							</div>
					
			</div>
		</div>
	</div>
	<div class="modal fade" id="Device_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#337ab7;">
			<button class="btn refreshmodel" ng-click="showDeviceLogDetailsRefresh(this);"><span class="glyphicon glyphicon-refresh"></span></button>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">{{header}}</h4>
			</div>
			<div class="modal-body" >
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoadingPopup"></img>
				<p style="text-align:center" ng-show="deviceLogList.deviceLogList.length <= 0 && !dataLoadingPopup">No Data Found</p>
				<div ui-grid="deviceLogListGridOptions" ui-grid-pagination class="grid" ng-show="deviceLogList.deviceLogList.length > 0 && !dataLoadingPopup" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
			<!-- <button type="button" class="btn btn-default" ng-click="showDeviceLogDetailsRefresh(this);">refresh</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="DeviceStatus_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#337ab7;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">{{header}}</h4>
			</div>
			<div class="modal-body" >
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoadingPopup"></img>
				<p style="text-align:center" ng-show="deviceStatusLogList.deviceStausLogList.length <= 0 && !dataLoadingPopup">No Data Found</p>
				<div ui-grid="deviceStatusLogListGridOptions" ui-grid-pagination class="grid" ng-show="deviceStatusLogList.deviceStausLogList.length > 0 && !dataLoadingPopup" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="showDeviceNotificationLogDetailsRefresh(this);">refresh</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="DeviceNotification_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#337ab7;">
			<i class="fa fa-refresh fa-spin fa-3x fa-fw" ng-click="showDeviceStatusRefresh(this);"></i>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">{{header}}</h4>
			</div>
			<div class="modal-body" >
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoadingPopup"></img>
				<p style="text-align:center" ng-show="deviceNotificationLogList.deviceNotificationLogList.length <= 0 && !dataLoadingPopup">No Data Found</p>
				<div ui-grid="deviceNotificationLogListGridOptions" ui-grid-pagination class="grid" ng-show="deviceNotificationLogList.deviceNotificationLogList.length > 0 && !dataLoadingPopup" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="showDeviceStatusRefresh(this);">refresh</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>
 <div ng-include="'app/views/popUp.html'"></div>
	<div class="footer-div footer-bottom-touch">
	 <div ng-include="'app/views/footer.html'"></div>
	 </div>
