<style>
.ui-grid-sort-priority-number {
font-size:0;
}

.ui-grid-cell-contents {
    text-align: left;
	}
.ui-grid-header-cell-wrapper{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table-responsive {
    overflow-x: visible;
}


.ui-grid-render-container{
		width: 100%; 
}

.ui-grid-pager-panel
{
position: inherit; 
  padding-top: 20px;
}
 
/*  .ui-grid-viewport{
 min-height: 100%;
height: auto!important;
 } */
#wizard-step-container {
  margin: 20px 0;
}

#wizard-content-container {
  margin: 20px 0;
}

#wizard-navigation-container {
  border-top: 1px solid #eee;
  margin: 20px 0;
  padding-top: 20px;
}

.nav-tabs > li > a{
	cursor:pointer;
}

.nav-tabs li a span:hover {
    color: red;
	cursor:pointer;
}

.tabRemoveClass {
    margin-left: 10px;
}
.ot-deviceData .table tr td:first-child {
    text-align: left;
}
</style>
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer main-cont-height" style="font-family: Source Sans Pro,sans-serif!important;background-color:#f5f7fa;overflow:hidden;">
		<div class="maincontent">
			<div class="container-fluid">
				<div class="ot-deviceData " style="background-color: #fff;margin: 0 auto 4px;">
				
					<div class="tab-content">
					  <div id="devices" class="tab-pane fade in active" style="background-color: #fff;">
						 <div class="orchestra_devices_table" style="height: auto;max-width: 100%;background-color: #fff;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                             style="max-width:100%;margin-left: 10px;">
                                            <div class="row">
                                               <div class="col-md-12 margin_top">
                                                    <h4 class="margin_topnone lead" style="color:#337ab7;"><strong>Test Plan</strong>
                                                    </h4>
                                                    <table class="table ">
                                                        <thead>
                                                        <tr>                                                          
															<th>Test Plan Name</th>
															<th>Test Plan Description</th>
															<th>Use case Name</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="testPlan in VirtualJob">
															 <td ng-model="testPlan.jobName" >
                                                                {{testPlan.jobName}}
                                                            </td>
															 <td ng-model="testPlan.jobDescription">
                                                                {{testPlan.jobDescription}}
                                                            </td>
															<td ng-model="testPlan.useCaseName">
                                                                {{testPlan.useCaseName}}
                                                            </td>
															
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--<div class="row">

                                                

                                                <div class="col-md-2">
                                                    <h4 class="margin_topnone lead" style="color:#337ab7;"><strong>Virtual Devices</strong></h4>
                                                    <div ui-grid="VirtualJobsDevicesOptions" ui-grid-selection ui-grid-cellNav
                                                         class="grid">
														<img class="loading" src="images/loading.gif"  ng-show="dataLoading"></img>
														<div class ="loadingErr" ng-show ="err"> No Data Found </div>
														<img class="loading" src="images/please_wait.gif"  ng-show="dataProcessing"></img>
														 </div>
                                                </div>
												
												
												<div class="col-md-10 treeSection" style="display:none;">
												<h4 class="margin_topnone lead" style="color:#337ab7;"><strong>Task Details</strong></h4>
													<div ng-include="'app/views/commonTreeDataTemplate.html'">
													
													</div>
												 	
												</div> 
                                                
                                            </div>-->
											
											<!--<div class="row">
										<div class="col-md-12">
										<h1></h1>
										<div id="wizard-container">
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" ng-click="addTab()">
													<a aria-controls="home" role="tab" data-toggle="tab">( + )</a>
												</li>
											</ul>
											<div id="wizard-step-container">
											  <ul class="nav nav-pills nav-justified">
												  <li ng-repeat="step in steps" ng-class="{'active':step.step == currentStep}"><a ng-click="gotoStep(step.step)"  href="">{{step.step}}. {{step.name}}</a></li>
											  </ul>
											  
											</div>

											<div id="wizard-content-container">
											  <ng-include src="getStepTemplate()"></ng-include>
											</div>

											<div id="wizard-navigation-container">
											  <div class="pull-right">
												<span class="btn-group">
												  <button ng-disabled="currentStep <= 1" class="btn btn-default" name="previous" type="button" ng-click="gotoStep(currentStep - 1)"><i class="fa fa-arrow-left"></i> Previous step</button>
												  <button ng-disabled="currentStep >= steps.length" class="btn btn-primary" name="next" type="button" ng-click="gotoStep(currentStep + 1)">Next step <i class="fa fa-arrow-right"></i></button>
												</span>
												<button ng-disabled="currentStep != steps.length" class="btn btn-success" name="next" type="button" ng-click="save()"> <i class="fa fa-floppy-o"></i> Save</button>
											  </div>
											</div>
										</div>
										</div>
									</div>-->
									
									
										
                                          <!--  <div style="width:100%;height:50px;margin:0px 80%;margin-top: 30px; ">
                                                <input type="button"  name="button" ng-click="updateCommandParameters()" value="update" class="btn btn-info"/>
                                                <input type="button"  name="button" ng-click="nextTestPlan()" value="« Re-plan" class="btn btn-info"/>
												<input type="button"  name="button" ng-click="testPlanGoForTestRun()" value="Next »" class="btn btn-info"/>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
				  </div>
				 
				</div>	
																							
				</div>
					<!--<div ng-include="'app/views/favourites.html'"></div>-->
					<div role="tabpanel" >
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTab == $index}">
					<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab"  ><div style="display: inline;" contenteditable strip-br="true" ng-model="tab.deviceProfileName" >{{tab.deviceProfileName}}</div><span ng-click="deleteTab($index)" class="glyphicon glyphicon-remove tabRemoveClass"></span></a>
				</li>
				<li role="presentation" ng-click="addTab()">
					<a aria-controls="home" role="tab" data-toggle="tab">( + )</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab">
				<h4></h4>
				<img class="loading" src="images/loading.gif"  ng-show="dataLoading"></img>
				<img class="loading" src="images/please_wait.gif"
													ng-show="dataProcessing"></img>
					 <div ng-include="'app/views/commonTreeDataTemplate.html'">
				</div>
			</div>
		</div>
		<div id="wizard-navigation-container">
										<span id="jobIsExitsError" class="errors animate-show"
													style="margin-left: 24%; margin-top:11%;"
													ng-show="jobIsExitsError" ng-model="command-border">Error</span>
												<span id="jobIsExitsSuccess" class="successOtClass animate-show"
													style="margin-left: 24%; margin-top:11%;"
													ng-show="jobIsExitsSuccess" ng-model="command-border">Error</span>
											  <div class="pull-right">
												<!--<span class="btn-group">
												  <button ng-disabled="selectedTab <= 0" class="btn btn-default" name="previous" type="button" ng-click="gotoStep(selectedTab - 1)"><i class="fa fa-arrow-left"></i> Previous step</button>
												  <button ng-disabled="selectedTab >= tabs.length-1" class="btn btn-info ot-btn" name="next" type="button" ng-click="gotoStep(selectedTab + 1)">Next step <i class="fa fa-arrow-right"></i></button>
												</span>-->
												
												 <button type="button" class="btn btn-info ot-btn" ng-click = "testScript()">« Back</button>
												<button  class="btn btn-info ot-btn" name="next" type="button" ng-click="save()"> <i class="fa fa-floppy-o"></i> Save</button>
											  </div>
											</div>
			</div>
		</div>
		
	</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>
 <div ng-include="'app/views/popUp.html'"></div>
	<div class="footer-div footer-bottom-touch">
	 <div ng-include="'app/views/footer.html'"></div>
	 </div>
							
	<div class="modal fade" id="commandPramameter" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:400px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#337ab7;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">Command Params</h4>
			</div>
			
			<div class="modal-body" id="updateCommandParametersForm" >
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"  ng-click="addField('updateCommandParametersForm');" >Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateCommandParametersAction('updateCommandParametersForm');" >Update</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
	

