<style>
.ui-grid-sort-priority-number {
font-size:0;
}

.ui-grid-cell-contents {
    text-align: left;
	}
.ui-grid-header-cell-wrapper{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table-responsive {
    overflow-x: visible;
}


.ui-grid-render-container{
		width: 100%; 
}

.ui-grid-pager-panel
{
position: inherit; 
  padding-top: 20px;
}
 
/*  .ui-grid-viewport{
 min-height: 100%;
height: auto!important;
 } */

</style>
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer">
		<div class="maincontent">
			<div class="container-fluid">
				<div class="ot-deviceData devicedata-height" style="background-color: #fff;margin: 0 auto 4px;">
				
					<div class="tab-content">
					  <div id="devices" class="tab-pane fade in active" style="background-color: #fff;">
						<div class="orchestra_devices_table" style="background-color: #fff; width:100%;  ">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-width:100%;font-weight:bold;'"> <h4 style='font-weight:bold; color:black'><div ncy-breadcrumb></div>   </h4></div> 
							</div>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4"><h3><p style="color:#337ab7;">Test Plan has been edited Successfully ....</p></h3></div>
								<div class="col-md-4"></div>
							</div>

							<div class="row">
								<div class="col-sm-9">
									<div ng-include="'app/views/commonTreeDataTemplate.html'"></div>
										 <img class="loading" src="images/loading.gif"  ng-show="dataLoading"></img>
											<div class ="loadingErr" ng-show ="err"> No Data Found </div>
											<img class="loading" src="images/please_wait.gif"  ng-show="dataProcessing"></img>
								<div class="row">
									<div class="col-xs-8 col-sm-6">
										<input type="button"  name="button" ng-click="editNextTestPlan()" value="« Re-Plan Edit" class="btn btn-info" style="float: right;margin: 10px;"/>
									</div>
									<div class="col-xs-4 col-sm-6">
										<input type="button"  name="button" ng-click="testPlanGoForTestRun()" value="Next »" class="btn btn-info" style="float: right;margin: 10px;"/>
									</div>
								</div>
								</div>
							</div>
						
					</div>
				  </div>
				 
				</div>				
				</div>
					<!--<div ng-include="'app/views/favourites.html'"></div>-->
					
			</div>
		</div>
	</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>
	<div class="footer-div">
	 <div ng-include="'app/views/footer.html'"></div>
	 </div>
<script>

 function setEqualHeight(e) {
	// alert("sdf");
     var t = e.height();
   //  e.each(function () {
         currentHeight = $( window ).height();
       // alert("t:"+t+"currentHeight"+currentHeight)
         if (currentHeight > t) {
        	 
             t = currentHeight
         }
   //  });
     $(".devicedata-height").height(currentHeight-158);
   
 }
 $(window).resize(function () {
	
	    setEqualHeight( $('.ui-grid-viewport') );
	});
 $(document).ready(function () {
     setEqualHeight($(".ui-grid-viewport"))
 })
</script>